<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }

  .card-ticket {
    background-color: #b7cdb8;
  }

  .btn-info, .btn-info:hover, .btn-info:focus {
    background-color: #b7cdb8 !important;
    border: none !important;
  }

  .bg-title {
    background-color: #7fb99a;
    padding: 5px;
    color: #fff !important;
  }

  .btn-remise {
    padding: 6px 8px;
    border-radius: 100%;
    background-color: #7a1820;
    color: #fff;        
  }

  .btn-remise:hover {
    color: #fff;
  }

  .btn-echeance {
    background-color: #7a1820 !important;
    border: none !important;
    margin-left: 15px;
  }

  .statut {
    background-color: #7a1820;
    padding: 5px 10px;
    color: #fff;
  }
 
</style>

<div class="pagetitle">
    <h1>Caisse </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Caisse</li>
      </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
            <div class="card-body px-3 py-3 px-lg-3 py-lg-4">
                <div class="mb-4 d-flex justify-content-between">
                    <div>
                        <h4 class="fw-bold title" style="font-size: 17px;"> Nom de commande : {{affaire.nom}} </h4>
                        <h4 class="fw-bold title" style="font-size: 17px;"> Client : {{affaire.compte.nom}} </h4>
                    </div>
                    {% set statutPaiement = constant('App\\Entity\\Affaire::PAIEMENT') %}
                    <p class="ms-auto"><strong>Status vente : </strong><span class="statut">
                        {{statutPaiement[affaire.paiement]}}
                    </span></p>
                </div>
                
                
                <div class="detail">
                    <div id="tableCaisse">
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Intitulé</th>
                                <th>Qté</th>
                                <th>PU(HT)</th>
                                <th>Remise</th>
                                <th>PT(HT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td> {{product.reference}} </td>
                                <td> {{product.nom}} </td>
                                <td> 
                                    {{product.qtt}} 
                                    {% if product.typeVente == "gros" %} 
                                        {{product.uniteVenteGros}} 
                                    {% elseif product.typeVente == "detail" %} 
                                        {{product.uniteVenteDetail}} 
                                    {% endif %}
                                    ({{product.typeVente}})
                                </td>
                                <td>
                                    {% if product.typeVente == "gros" %}
                                        {{ product.prixVenteGros|number_format(0, ',', ' ') }} Ar / {{product.uniteVenteGros}}
                                    {% elseif product.typeVente == "detail" %}
                                        {{ product.prixVenteDetail|number_format(0, ',', ' ') }} Ar / {{product.uniteVenteDetail}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if app_authorization.isUserAllowedOnFeature('remise') %}
                                         {% if product.remise %} 
                                            {#<span class="text-danger">-{{ product.remise|number_format(0,',',' ') }} Ar</span>  #}
                                            <a class="" href="#" onclick="return addRemiseProduit({{ product.id }}, '{{ app.request.uri }}', {{affaire.id}});">{% if product.remise %} <span class="text-danger">{{ product.remise }}&nbsp;Ar</span> {% else %} <i class="bi bi-percent btn-remise"></i> {% endif %}</a>
                                        {% else %}
                                            {% if affaire.paiement == 'non' %} 
                                                <a class="" href="#" onclick="return addRemiseProduit({{ product.id }}, '{{ app.request.uri }}', {{affaire.id}});">
                                                    <i class="bi bi-percent btn-remise"></i> 
                                                </a>
                                            {% else %}
                                                <span class="text-info" style="font-size: 14px;">Pas de remise</span>
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}
                                </td>
                                <td>
                                    {% set total = 0 %}
                                    {% if product.typeVente == "gros" %}
                                        {% set total = product.qtt * product.prixVenteGros  %}
                                        {% if product.remise %}
                                        {{ (total - product.remise)|number_format(0, ',', ' ') }} Ar
                                        {% else %}
                                            {{ total|number_format(0, ',', ' ') }} Ar
                                        {% endif %}
                                    {% elseif product.typeVente == "detail" %}
                                        {% set total =  product.qtt * product.prixVenteDetail %}
                                        {% if product.remise %}
                                            {{ (total - product.remise)|number_format(0, ',', ' ') }} Ar
                                        {% else %}
                                            {{ total|number_format(0, ',', ' ') }} Ar
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6">Aucun enregistrement trouvé</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="montant-total">
                        <div class="d-flex justify-content-end">
                            <div class="card p-4" style="border: 1px solid #b7cdb8;">
                                <p>Total à payer : {{montantHt|number_format(0,',','')}} Ar</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end btn-action">
                            {% if affaire.paiement == "non" %}
                            <a href="#"  onclick="return paiement({{affaire.id}})" class="btn btn-primary btn-sm px-3">Payer</a>
                            <a href="#"  onclick="return openModalFactureEcheance({{ affaire.id }})" class="btn btn-primary btn-sm px-3 btn-echeance">Echeance</a>
                            {% else %}
                            <a href="#tab-facture-affaire" onclick="return showTabFactureAffaire({{affaire.id}})" class="btn btn-primary btn-sm px-3">
                                Factures
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    
                    
                </div>
                    
            </div>
        </div>
      </div>
    </div>
    <div id="modalRemiseCaisseEmpty"></div>
    <div id="modalEcheanceCaisseEmpty"></div>

</section>

<script src="{{ asset('assets/js/product.js?version=1.4')}}"></script>
<script src="{{ asset('assets/js/remise_vente.js?version=1.1')}}"></script>

  <script>
  
    $(document).ready(function() {
        $('#tab-ventes').css('display', 'block');
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').addClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').addClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-stock').removeClass('active');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').removeClass('active');
        $('#tab-avoir').css('display', 'none');

    
    });
  
  </script>

  <script>
     function paiement(id = null) {
        if (confirm('Voulez vous vraiment faire ce paiement?')) {
            setTimeout(function() {
                $.ajax({
                url: '/admin/affaires/paiement/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Paiement fait');
                        
                        showTabCaisse(id);

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }
                        var countAffaires = response.countAffaires;
                        var button = $("<button class='dropdown show-content icon-notification btn btn-primary btn-sm px-3' id='new-commande'></button>");
                        var link = $("<a class='nav-link nav-icon' href='#' data-bs-toggle='dropdown'>Caisse</a>");
                        var span = $("<span class='badge badge-number badge-commande badge-animation'> " + countAffaires + " </span>");
                        link.append(span);
                        button.append(link);
                        
                        var ul = $("<ul class='dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications notification-commande'></ul>");
                       
                        var li1 = $("<li class='dropdown-header count-commande' id='count-commande'>  Vous avez " + countAffaires + " Commandes</li>");

                        var ali = $("<a href='#tab-notification' onclick='return showTabNotification()'></a>");

                        var spanAli = $("<span class='badge rounded-pill p-2 ms-2'>Voir tous</span>");
                        ali.append(spanAli);
                        li1.append(ali);
                        ul.append(li1);
                        
                        
                        var li2 = $("<li></li>");
                        var hr = $("<hr class='dropdown-divider'>");
                        li2.append(hr);
                        ul.append(li2);
                        var tabIdAffaire = Object.keys(response.tabIdAffaire); //tableau
                        
                        if (tabIdAffaire.length > 0 ) {
                            $.each(response.tabIdAffaire, function (key, affaire) {
                                var tabInfoAffaire = affaire.split('##');
                                 var av = $("<a href='#tab-caisse' onclick='return showTabCaisse("+key+")'></a>");
                                var li = $("<li></li>");
                                var hrd = $("<hr class='dropdown-divider'>");
                                li.append(hrd);
                                av.append(li);
                                var liNotif = $(" <li class='notification-item item-commande'></li>");
                              
                                var div = $("<div></div>");
                                
                               var h4 = $("<h4 class='text-black'></h4>");
                               var i = $("<i class='bi bi-check-circle text-success'></i>");
                               h4.append(i);
                               h4.append('Commande validée');
                               var p1 = $("<p>"+tabInfoAffaire[0]+"</p>");
                               var p2 = $("<p>"+tabInfoAffaire[1]+"</p>");
                                div.append(h4);
                                
                                div.append(p1);
                                div.append(p2);
                                liNotif.append(div);
                                av.append(liNotif);
                                ul.append(av);
                        });
                        }

                        button.append(ul);
                        console.log(countAffaires, button);
                        $("#notif-caisse").empty();
                        $("#notif-caisse").append(button);
                       //location.reload();

                    }, 800);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de paiement.');
                }
            });
        
            }, 500);
           
        }
    }

    function openModalFactureEcheance(id = null)
    {
        var anchorName = document.location.hash.substring(1);

        $.ajax({
                url: '/admin/vente/echeance/'+id,
                type: 'post',
                //data: {},
                success: function (response) {
                    $("#modalEcheanceCaisseEmpty").empty();
                    $("#modalEcheanceCaisseEmpty").append(response.html);
                    $('#modalVenteEcheance').modal('show');

                    if (anchorName) {
                        window.location.hash = anchorName;
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de facture echeance.');
                }
            });
    }
  </script>
