<style>
    .nb-vente {
        color: #7a1820;
    }
    .icon-edit i{
        background-color: #7a1820;
        padding: 9px 10px;
        border-radius: 100%;
        color: #fff;
    }

    .total_vente span {
        background-color: #7a1820;
        padding: 10px 5px;
        color: #fff;
    }
</style>

<div class="pagetitle">
    <h1>Liste depense </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste depense</li>
      </ol>
    </nav>
</div>
<section class="section">
    <div class="card px-3 py-3 px-lg-3 py-lg-4">
        <div class="card-body">
            <div class="d-flex justify-content-end mb-4">
                <a href="#" onclick="return newDepense()" class="btn btn-primary btn-sm px-3 mx-2">Nouveau</a>
                <a href="#tab-comptabilite-vente" onclick="return showTabComptabiliteVente()" class="btn btn-primary btn-sm px-3" style="background-color: #7a1820 !important; border: none;">Comptabilité</a>
            </div>
            <table class="table table-striped" id="table-depense-vente" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Designation</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Date dépense</th>
                        <th>Date création</th>
                    </tr>
                </thead>
                <tbody>
                    {% for liste in listes %}
                    <tr>
                        <td>
                            <a href="#" onclick="return updateDepense({{liste.id}})" class="text-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="#" onclick=" return deleteDepense({{liste.id}})" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                        </td>
                        <td>{{liste.designation}}</td>
                        <td>{{liste.prix|number_format(0,',',' ')}} Ar</td>
                        <td>{{liste.nombre}}</td>
                        <td>{{liste.total|number_format(0,',',' ')}} Ar</td>
                        <td>{{liste.dateDepense|date('d-m-Y')}}</td>
                        <td>{{liste.dateCreation|date('d-m-Y')}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">Aucune depense trouvé</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
    </div>
    
    <div id=""></div>

</section>

<script src="{{ asset('assets/js/product.js?version=1.4')}}"></script>
<script src="{{ asset('assets/js/remise_vente.js?version=1.1')}}"></script>

  <script>
  
    $(document).ready(function() {
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').addClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').addClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-stock').removeClass('active');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').removeClass('active');
        $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-depense-vente').css('display', 'block');
        $('#tab-session').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');
        $('#tab-comptabilite-vente').css('display', 'none');
    });
  
  </script>





