<style>
    .nb-vente {
        color: #7a1820;
    }
    .icon-edit i{
        background-color: #7a1820;
        padding: 9px 10px;
        border-radius: 100%;
        color: #fff;
    }
</style>

<div class="pagetitle">
    <h1>Liste vente </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste vente</li>
      </ol>
    </nav>
</div>
<section class="section">
    <div class="card px-3 py-3 px-lg-3 py-lg-4">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-5">
                <h3 class="fw-bold" style="font-size: 17px;">Vous avez <span class="nb-vente">{{listes|length}} </span>ventes pour aujourd'hui </h3>
                <h3 class="fw-bold" style="font-size: 17px;">Total vente : {{totalMontantHt|number_format(0,',',' ')}} Ar </h3>
                {#{% if clotureVentes|length < 1 %}
                    {{form_start(form, {'attr': {'id': 'newClotureVente', 'action': path('ventes_liste_vente') }})}}
                        {{form_widget(form.nom)}}
                        <button type="submit" class="btn btn-primary btn-sm px-3 btn-new-cloture-vente">Cloturer vente</button>
                    {{form_end(form)}}#}
                    {% if app.session.get('currentSession') is not null and app.session.get('dateCurrentSession') is not null %}
                    <a class="btn btn-primary btn-sm px-4" href="#" onclick="return setSession(false, '{{app.session.get('currentSession')}}')">Cloturer vente</a> 
                    
                {% else %}
                    <a href="#" class="btn btn-primary btn-sm px-3">Créer revenu</a>
                {% endif %}
            </div>
            <div class="row">
                
                {% for liste in listes %}
    
                    {#{% set montantHt = methodePaiements[liste.id].espece + methodePaiements[liste.id].mVola + methodePaiements[liste.id].airtelMoney + methodePaiements[liste.id].orangeMoney %}#}
                <div class="col-md-4 col-12">
                    <div class="card shadow p-3">
                        <h4 class="text-center fw-bold" style="font-size: 16px;">
                            {{liste.nom}}
                        </h4>
                        <p><strong>Espèce : </strong> {{methodePaiements[liste.id].espece|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Mvola : </strong> {{methodePaiements[liste.id].mVola|number_format(0,',',' ')}} Ar </p>
                        <p><strong>AirtelMoneu : </strong> {{methodePaiements[liste.id].airtelMoney|number_format(0,',',' ')}} Ar </p>
                        <p><strong>OrangeMoney : </strong> {{methodePaiements[liste.id].orangeMoney|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Remise : </strong>  {{totalRemises[liste.id]|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Total : </strong> {{montantHt[liste.id]|number_format(0,',',' ')}} Ar </p>
                        <a href="#" onclick="return openModalUpdateMethodePaiementVente({{methodePaiements[liste.id].id}})" class="icon-edit" title="Modifier méthode de paiement"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucune vente faite pour aujourd'hui
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div id="modalUpdateMethodePaiementListeEmpty"></div>

</section>

<script src="{{ asset('assets/js/product.js?version=1.4')}}"></script>
<script src="{{ asset('assets/js/remise_vente.js?version=1.1')}}"></script>

  <script>
  
    $(document).ready(function() {
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').addClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').addClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-stock').removeClass('active');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').removeClass('active');
        $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-liste-vente').css('display', 'block');
    });
  
  </script>

  <script>
     function openModalUpdateMethodePaiementVente(id = null) {
    var anchorName = document.location.hash.substring(1);
          $.ajax({
              url: '/admin/vente/update/methode/paiement/'+id,
              type: 'GET',
              //data: {isNew: isNew},
              success: function (response) {
                  $("#modalUpdateMethodePaiementListeEmpty").empty();
                  $("#modalUpdateMethodePaiementListeEmpty").append(response.html);
                  $('#modalUpdateMethodePaiementVente').modal('show');
                  if (anchorName) {
                      window.location.hash = anchorName;
                  }
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  // Gérer l'erreur (par exemple, afficher un message d'erreur)
                  alert('Erreur lors de la mise à jour de methode de paiement.');
              }
          });
  }
  </script>

  <script>
     $('.btn-new-cloture-vente').on('click', function (e) {
        e.preventDefault(); // Empêche le comportement par défaut du bouton

        // Génère un numéro de vente unique
        const randomNumber = Math.floor(10000 + Math.random() * 90000);
        const venteNom = `CLOTURE-${randomNumber}`;

        // Remplit le champ "nom" avec la valeur générée
        $('#cloture_vente_nom').val(venteNom);

        // Récupère le formulaire
        let form = $('#newClotureVente');

        // Crée un FormData avec le contenu du formulaire
        let formData = new FormData(form[0]);

        // Effectue une requête AJAX pour envoyer les données
        $.ajax({
            url: form.attr('action'), // URL définie dans le formulaire
            type: 'POST', // Méthode POST
            data: formData,
            processData: false, // Nécessaire pour FormData
            contentType: false, // Nécessaire pour FormData
            success: function (response) {
               showTabListeVente();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Erreur lors de la création de la vente : ' + textStatus);
            }
        });
    });
  </script>

