<style>
    .nb-vente {
        color: #7a1820;
    }
    .icon-edit i{
        background-color: #7a1820;
        padding: 9px 10px;
        border-radius: 100%;
        color: #fff;
    }

    .total_vente span {
        background-color: #7a1820;
        padding: 10px 5px;
        color: #fff;
    }
</style>

<div class="pagetitle">
    <h1>Liste vente </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste vente</li>
      </ol>
    </nav>
</div>
<section class="section">
    <div class="card p-4">
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="info">
                    <h3 class="fw-bold mb-4" style="font-size: 20px;">Vous avez <span class="nb-vente">{{listes|length}} </span>ventes pour aujourd'hui </h3>
                    <p class="total_espece fw-bold" data-espece="{{totalEsepce}}">Espèce : {{totalEsepce|number_format(0,',',' ')}} Ar</p>
                    <p class="total_mobile_money fw-bold" data-mobile="{{totalMobileMoney}}">Mobile money : {{totalMobileMoney|number_format(0,',',' ')}} Ar</p>
                    <p class="fw-bold total_vente" data-total="{{totalMontantHt}}"><span>Total vente : {{totalMontantHt|number_format(0,',',' ')}} Ar</span> </p>

                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    {% if app.session.get('currentSession') is not null and app.session.get('dateCurrentSession') is not null %}
                        <a class="btn btn-primary btn-sm px-4" href="#" onclick="return setSession(false, '{{app.session.get('currentSession')}}')">Cloturer vente</a> 
                    {% else %}
                        {{form_start(form, {'attr': {'id': 'newRevenu', 'action': path('ventes_new_revenu') }})}}
                        <div class="content-form">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Designation</label>
                                {{form_widget(form.designation)}}
                            </div>
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Date</label>
                                {{form_widget(form.dateRevenu)}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm px-3 btn-new-revenu">Créer revenu</button>
                        {{form_end(form)}}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="card px-3 py-3 px-lg-3 py-lg-4">
        <div class="card-body">
            
            <div class="row">
                
                {% for liste in listes %}
    
                <div class="col-md-4 col-12">
                    <div class="card shadow p-3">
                        <h4 class="text-center fw-bold" style="font-size: 16px;">
                            {{liste.nom}}
                        </h4>
                        <p><strong>Espèce : </strong> {{methodePaiements[liste.id].espece|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Mvola : </strong> {{methodePaiements[liste.id].mVola|number_format(0,',',' ')}} Ar </p>
                        <p><strong>AirtelMoneu : </strong> {{methodePaiements[liste.id].airtelMoney|number_format(0,',',' ')}} Ar </p>
                        <p><strong>OrangeMoney : </strong> {{methodePaiements[liste.id].orangeMoney|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Remise : </strong>  {{totalRemises[liste.id]|number_format(0,',',' ')}} Ar </p>
                        <p><strong>Total : </strong> {{montantHt[liste.id]|number_format(0,',',' ')}} Ar </p>
                        <a href="#" onclick="return openModalUpdateMethodePaiementVente({{methodePaiements[liste.id].id}})" class="icon-edit" title="Modifier méthode de paiement"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucune vente faite pour aujourd'hui
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div id="modalUpdateMethodePaiementListeEmpty"></div>

</section>

<script src="{{ asset('assets/js/product.js?version=1.4')}}"></script>
<script src="{{ asset('assets/js/remise_vente.js?version=1.1')}}"></script>

  <script>
  
    $(document).ready(function() {
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-user').addClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').addClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-stock').removeClass('active');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').removeClass('active');
        $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-depense-vente').css('display', 'none');
        $('#tab-comptabilite-vente').css('display', 'none');
        $('#tab-session').css('display', 'none');
        $('#tab-liste-vente').css('display', 'block');
    });
  
  </script>

  <script>
     function openModalUpdateMethodePaiementVente(id = null) {
    var anchorName = document.location.hash.substring(1);
          $.ajax({
              url: '/admin/vente/update/methode/paiement/'+id,
              type: 'GET',
              //data: {isNew: isNew},
              success: function (response) {
                  $("#modalUpdateMethodePaiementListeEmpty").empty();
                  $("#modalUpdateMethodePaiementListeEmpty").append(response.html);
                  $('#modalUpdateMethodePaiementVente').modal('show');
                  if (anchorName) {
                      window.location.hash = anchorName;
                  }
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  // Gérer l'erreur (par exemple, afficher un message d'erreur)
                  alert('Erreur lors de la mise à jour de methode de paiement.');
              }
          });
  }
  </script>

  <script>
    $('.content-form').hide();
     // Lorsque le bouton est cliqué
     $('.btn-new-revenu').on('click', function (e) {
        e.preventDefault(); // Empêche le comportement par défaut du bouton

        // Récupérer la date actuelle
        const today = new Date();
        const day = String(today.getDate()).padStart(2, '0');
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Les mois commencent à 0
        const year = today.getFullYear();

        // Formater la date en ddmmyyyy
        const formattedDate = day + '-' + month + '-' + year;

        // Générer le nom avec la date et un numéro aléatoire

        const revenuNom = `REVENU du ${formattedDate}`;

        // Remplit le champ "nom" avec la valeur générée
        $('#revenu_designation').val(revenuNom);

        // Récupère le formulaire
        let form = $('#newRevenu');

        // Crée un FormData avec le contenu du formulaire
        let formData = new FormData(form[0]);

        // Effectue une requête AJAX pour envoyer les données
        $.ajax({
            url: form.attr('action'), // URL définie dans le formulaire
            type: 'POST', // Méthode POST
            data: formData,
            processData: false, // Nécessaire pour FormData
            contentType: false, // Nécessaire pour FormData
            success: function (response) {
                document.location.hash = "tab-depense-vente";
                showTabDepenseVente();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Erreur lors de la création de la vente : ' + textStatus);
            }
        });
    });
  </script>

