<style type="text/css">
    .custom-file-input{
        opacity: 1;
    }
    .custom-file-label{
        display: none;
    }
    .vich-image img{
        width: 99%;
        height: 80%;
    }
</style>
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewLabel">Modifier {{menu}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'updateData', 'action': path('app_admin_update', {'id': id}) }}) }}
                    <div class="form-group mb-3">
                            <label for="" class="mb-2">Nom de produit</label>
                            {{form_widget(form.name)}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Categorie</label>
                            {{form_widget(form.category)}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Type</label>
                            {{form_widget(form.type)}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Référence</label>
                            {{form_widget(form.reference)}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Description</label>
                            {{form_widget(form.description)}}
                        </div>
                        <div class="form-group mb-3">
                            <label for="" class="mb-2">Image</label>
                            {{form_widget(form.imageFile)}}
                        </div>
                    <input type="hidden" name="menu" value="{{menu}}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3">Modifier</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#product_imageFile_delete").css('display', 'none');
       $('#updateData').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            var menu = '{{menu}}';
            let formData = new FormData(form[0]);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#modalUpdate').modal('hide');
                    var nextLink = $('#sidebar').find('li#'+menu).find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Enregistrement effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la catégorie.');
                }
            });
        });
    });
</script>
