<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }
 
</style>

<div class="pagetitle">
    <h1>Liste commandes </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card p-3 p-lg-5">
          <div class="card-body">
            <table class="table table-striped" id="liste-table-commande" style="width: 100%;">
              <thead>
                   <tr class="text-nowrap">
                    <th>Nom commande</th>
                    <th>Date de création</th>
                    <th>Date de dévis</th>
                    <th>Date commande</th>
                    <th>Client</th>
                    <th>Paiement</th>
                    <th>Produits</th>
                    <th>Référence</th>
                    <th>Quantité</th>
                    <th>PuHt</th>
                    <th>Date de facture</th>
                    <th>Date d'annulation</th>
                   </tr>
              </thead>
              <tbody>
                {% for liste in listes %}
                <tr class="text-nowrap">
                    <td>{{ liste.nom_affaire }}</td>
                    <td>{{ liste.dateCreation|date('d-m-Y') }}</td>
                    <td>{{ liste.dateDevis|date('d-m-Y') }}</td>
                    <td>{{ liste.dateCommande|date('d-m-Y') }}</td>
                    <td>{{ liste.nom_compte }}</td>
                    {% set paiement = constant('App\\Entity\\Affaire::PAIEMENT') %}
                    <td> {{paiement[liste.paiement]}} </td>
                    <td>
                        {% for produit in liste.produits %}
                            {{ produit.nom_produit }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for produit in liste.produits %}
                            {{ produit.reference }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for produit in liste.produits %}
                            {{ produit.qtt }}<br>
                        {% endfor %}
                    </td>
                    <td class="align-middle text-center">
                        {% for produit in liste.produits %}
                            {% if produit.typeVente == "gros" %}
                                {{ produit.prixVenteGros|number_format(0, ',', ' ') }} Ar<br>
                            {% else %}
                                {{ produit.prixVenteDetail|number_format(0, ',', ' ') }} Ar<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ liste.dateFacture|date('d-m-Y') }}</td>
                    <td>{{ liste.dateAnnule|date('d-m-Y') }}</td>

                </tr>
                {% else %}
                <tr>
                    <td colspan="12">Aucun élément trouvé </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script>
    //datatable
    
    $(document).ready(function() {
      $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
      $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

    $('#tab-fiche-fournisseur').removeClass('active').empty();
    $('#tab-quantite-vendu').removeClass('active').empty();
    $('#tab-notification').removeClass('active').empty();
      $('.tab-user').removeClass('active');
      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-utilisateur').removeClass('active');
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      $('#tab-application').removeClass('active');
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');  
       $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');
      $('#tab-transfert-produit').css('display', 'none');
      $('#affaires_client').removeClass('active').empty();
       $('#affaires_fournisseur').removeClass('active').empty();
       $('#tab-info-affaire').removeClass('active').empty();
       $('#tab-financier-affaire').removeClass('active').empty();
      $('#tab-fiche-client').removeClass('active').empty();
      $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');     
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','block');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
         $('#tab-ventes').css('display', 'none');
         $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');


    });

  </script>