<div class="card p-3 p-lg-5 affaire-header" id="entete-compte">
            <div class="row">
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <h4 class="affaire-title"><i class="bi bi-folder"></i> <span class="mx-1 fw-bold">{{compte.nom}}</span></h4>
                        
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="form-group">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            
                            {% if compte.genre == 1 %}
                                <a href="#tab-fiche-client" onclick="return ficheClient({{compte.id}}, 1)" class="mb-0 me-md-2 fiche-text text-affaire mx-2">
                                    <i class="bi bi-person-vcard-fill"></i>
                                    <span>Fiche client</span>
                                </a>
                                <a href="#affaires_client" id="liste-affaire" onclick="return listAffaireByCompte({{compte.id}}, {{compte.genre}})" class="mb-0 text-danger mx-2 text-affaire">
                                    <i class="bi bi-list"></i> 
                                    <span>Liste des projets</span>
                                </a>
                                <a href="#tab-compte_1" class="fiche-text text-affaire mx-2" onclick="return showTabCompte(1)">
                                    <i class="bi bi-list"></i> 
                                        Liste client
                                </a>
                            {% elseif compte.genre == 2 %}
                            <a href="#tab-fiche-fournisseur" onclick="return ficheClient({{compte.id}}, 2)" class="mb-0 me-md-2 fiche-text text-affaire mx-2">
                                <i class="bi bi-person-vcard-fill"></i>
                                <span>Fiche fournisseur</span>
                            </a>
                            <a href="#affaires_fournisseur" id="liste-affaire" onclick="return listProduitByCompte({{compte.id}})" class="mb-0 text-danger mx-2 text-affaire">
                                <i class="bi bi-list"></i> 
                                <span>Liste des projets</span>
                            </a>
                                <a href="#tab-compte_2" class="fiche-text text-affaire mx-2" onclick="return showTabCompte(2)">
                                    <i class="bi bi-list"></i> 
                                    Liste fournisseur
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="d-flex justify-content-center">
                        {#<button class="btn btn-primary btn-sm px-3 affaire-btn">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Ajouter une affaire
                        </button>#}
                        {% if app_authorization.isUserGrantedPrivilege('responsable_vente') and app_authorization.isUserAllowedOnFeature('ajout_commande') %}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-sm px-4 affaire-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-plus-circle"></i>
                              <span class="mx-2">Ajouter</span>
                      
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#" onclick="return newAffaire({{compte.id}},'devis')">Un devis</a></li>
                              <li><a class="dropdown-item" href="#" onclick="return newAffaire({{compte.id}},'commande')">Une commande</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>