<style>
    @media screen and (max-width: 750px) {
        .card-search {
            height: 20vh !important;
        }
    }
</style>

<section class="section">
    <div class="row" id="info-compte">
      <div class="col-lg-12">
        {% include 'admin/affaires/entete_compte.html.twig' with { 'compte': compte } %}
           
        <div class="affaire-recherche">
            <div class="row">
                <div class="col-md-2 col-12">
                    <div class="card shadow p-3 card-search">
                        <div class="search-affaire">
                            <h5 class="mb-3 text-center">Recherche</h5>
                            <select class="form-control form-control-sm mb-3" id="affaire-type" name="affaire-type">
                                <option value="" disabled selected>Type(devis ou commande)</option>
                                <option value="devis">Dévis</option>
                                <option value="commande">Commande</option>
                            </select>
    
                            <div class="affaire-result d-flex justify-content-between align-items-center">
                                <p class="mb-0"><span id="result-count"> {{count}} </span> résultats</p>
                                <i class="bi bi-arrow-clockwise" style="cursor: pointer;" onclick="return searchAffaire({{compte.id}})"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>  
                
                <div class="col-md-10 col-12" id = "listeAffaire">
                    {% if listes|length > 0 %}
                        {% for affaire in listes %}
                        <div class="affaire-produit card shadow p-4 mb-3 position-relative">
                            {% if app_authorization.isUserGrantedPrivilege('responsable_vente') %}
                                {% if affaire.paiement == "non" %}
                                    <div class="filter position-absolute top-0 end-0 p-3">
                                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            {# <li class="dropdown-header text-start">
                                                <h6>Filter</h6>
                                            </li> #}
                                            {% if app_authorization.isUserAllowedOnFeature('edit_commande') %}
                                                <li><a class="dropdown-item" href="#" onclick="return updateAffaire({{affaire.id}})">Modifier</a></li>
                                            {% endif %}
                                            {% if app_authorization.isUserAllowedOnFeature('suppression_commande') %}
                                                <li><a class="dropdown-item" href="#" onclick="return deleteAffaire({{affaire.id}})">Supprimer</a></li>
                                            {% endif %}
                                            {# <li><a class="dropdown-item" href="#">Dupliquer</a></li> #}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="row">
                                <div class="col-md-4 col-12">
                                    <a href="#tab-financier-affaire" onclick="return financier({{affaire.id}})">
                                        <div class="info-produit">
                                            <h4 class="fw-bold mb-3">
                                                <i class="bi bi-lock"></i>
                                                <span class="">{{affaire.nom}}</span>
                                            </h4>
                                            <p class="date mb-3">
                                                <i class="bi bi-calendar-date-fill"></i>
                                                <span class="">{{affaire.dateCreation|date("Y-m-d")}}</span>
                                            </p>
                                            <p class="order-number py-1 px-2 mb-3">
                                                <i class="bi bi-info-circle-fill"></i>
                                                <span class="mx-2">{{affaire.statut}} n°{{affaire.id}}</span>
                                            </p>
                                            {% set montantHt = 0 %}
                                            {% for product in affaire.products %}
                                                {% if product.typeVente == "gros" %}
                                                {% set montantHt = (montantHt + ((product.qtt)  * product.prixVenteGros)) - product.remise %}
                                                {% else %}
                                                    {% set montantHt = (montantHt + (product.qtt * product.prixVenteDetail)) - product.remise  %}
                                                {% endif %}
                                            {% endfor %}
                                            <p class="text-danger">
                                                {{ montantHt|number_format(0, ',', ' ') }} Ar HT
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-12 mb-5">
                                    <div class="container mt-5 ">
                                        <div class="action-produit d-flex justify-content-around">
                                            <a href="#tab-info-affaire" onclick="return information({{affaire.id}})" class="d-flex flex-column align-items-center mx-2">
                                                <i class="bi bi-info-circle bg-info text-black action-icon"></i>
                                                <span class="action-text">Information</span>
                                            </a>
                                            <a href="#tab-financier-affaire" onclick="return financier({{affaire.id}})" class="d-flex flex-column align-items-center mx-2">
                                                <i class="bi bi-coin text-black bg-warning action-icon"></i>
                                                <span class="action-text">Financier</span>
                                            </a>
                                            {% if app_authorization.isUserGrantedPrivilege('responsable_caisse') and app_authorization.isUserAllowedOnFeature('paiement_depot') %}
                                                {% if affaire.depot == 1 and affaire.products|length > 0 and (affaire.paiement == "endepot" or affaire.paiement == "paye") %}
                                                    <a href="#tab-depot" onclick="return showTabDepot({{affaire.id}})" class="d-flex flex-column align-items-center mx-3">
                                                        <i class="bi bi-box-seam text-black bg-primary action-icon"></i>
                                                        <span class="action-text">Dépôt</span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if app_authorization.isUserGrantedPrivilege('responsable_caisse') %}
                                                {% if affaire.factures|length > 0 %}
                                                    <a href="#tab-facture-affaire" onclick="return showTabFactureAffaire({{affaire.id}})" class="d-flex flex-column align-items-center mx-2">
                                                        <i class="bi bi-file-earmark-pdf bg-success action-icon"></i>
                                                        <span class="action-text">Facture</span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {#<a href="#" class="d-flex flex-column align-items-center mx-2">
                                                <i class="bi bi-file-earmark-pdf bg-danger action-icon"></i>
                                                <span class="action-text">Document</span>
                                            </a>
                                            <a href="#" class="d-flex flex-column align-items-center mx-3">
                                                <i class="bi bi-check-circle-fill bg-success action-icon"></i>
                                                <span class="action-text">Tâche</span>
                                            </a>
                                            <a href="#" class="d-flex flex-column align-items-center mx-3">
                                                <i class="bi bi-journal-text bg-primary action-icon"></i>
                                                <span class="action-text">Notes</span>
                                            </a>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="menu_produit">
                                        <div class="menu-icon mb-3">
                                            <div class="form-group">
                                                {# <a href="#"><i class="bi bi-skip-end-fill"></i></a>#}
                                                {% if affaire.paiement == "non" %}
                                                    {% if app_authorization.isUserGrantedPrivilege('responsable_vente') and app_authorization.isUserAllowedOnFeature('edit_commande') %}
                                                        <a href="#" onclick="return updateAffaire({{affaire.id}})"><i class="bi bi-pencil-square edit"></i></a>
                                                    {% endif %}
                                                    {% if app_authorization.isUserGrantedPrivilege('responsable_vente') and app_authorization.isUserAllowedOnFeature('suppression_commande') %}
                                                        <a href="#" onclick="return deleteAffaire({{affaire.id}})"><i class="bi bi-trash delete"></i></a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if affaire.paiement == "paye" and app_authorization.isUserGrantedPrivilege('responsable_caisse') and app_authorization.isUserAllowedOnFeature('annuler_commande')  %}
                                                    <a href="#" title="Annuler" onclick="return annuleFacture({{affaire.id}})"><i class="bi bi-x-circle-fill delete"></i></a>
                                                {% endif %}

                                                {# <a href="#"><i class="bi bi-bell-fill"></i></a>
                                                <a href="#"><i class="bi bi-calendar-fill"></i></a> #}
                                                {# <a href="#"><i class="bi bi-hourglass-split"></i></a> #}
                                                {# <a href="#"><i class="bi bi-send"></i></a>
                                                <a href="#"><i class="bi bi-star-fill"></i></a> #}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-12 status">
                                                <label for="" class="mb-2 label-status">Statut devis</label>
                                                {% set statutDevis = constant('App\\Entity\\Affaire::DEVIS') %}
                                                {#<select name="status-devis" id="status-devis" class="form-control form-control-sm">
                                                    {% for key,statutDev in statutDevis %}
                                                    <option value="{{key}}" {% if affaire.devisEvol is not null and affaire.devisEvol == key %} selected {% endif %}>{{statutDev}}</option>
                                                    {% endfor %}
                                                </select>#}
                                                <input type="text" name="status-devis" id="status-devis" class="form-control form-control-sm" value="{{statutDevis[affaire.devisEvol]}}" readonly>

                                            </div>
                                            {#<div class="col-md-4 col-12 status">
                                                <label for="" class="mb-2 label-status">Statut projet</label>
                                                <select name="status-projet" id="status-projet" class="form-control form-control-sm">
                                                    <option value="1">Gagné</option>
                                                    <option value="2">Perdu</option>
                                                    <option value="3">Terminé</option>
                                                </select>
                                            </div>#}
                                            <div class="col-md-6 col-12 status">
                                                <label for="" class="mb-2 label-status">Statut paiement</label>
                                                {% set statutPaiement = constant('App\\Entity\\Affaire::PAIEMENT') %}
                                                {#<select name="status-paiement" id="status-paiement" class="form-control form-control-sm">
                                                {% for key,statutPaie in statutPaiement %}
                                                    <option value="{{key}}" {% if affaire.paiement is not null and affaire.paiement == key %} selected {% endif %}>{{statutPaie}}</option>
                                                    {% endfor %}
                                                </select>#}
                                                <input type="text" name="status-paiement" id="status-paiement" class="form-control form-control-sm" value="{{statutPaiement[affaire.paiement]}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="card p-5">
                        <div class="d-flex align-items-center">
                            <p class="mb-0">Ce client n'a pas encore fait de commande</p>
                            {% if app_authorization.isUserGrantedPrivilege('responsable_vente') and app_authorization.isUserAllowedOnFeature('ajout_commande') %}
                            <div class="dropdown ms-3">
                                <a class="dropdown-toggle btn-sm px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-plus-circle"></i>
                                    <span class="mx-2">Ajouter</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" onclick="return newAffaire({{compte.id}},'devis')">Un devis</a></li>
                                    <li><a class="dropdown-item" href="#" onclick="return newAffaire({{compte.id}},'commande')">Une commande</a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    </div>

  </section>

  <script>

    function searchAffaire(idCompte = null) {
        var affaireType = $('#affaire-type').val();
            $.ajax({
                url: '/admin/affaires/search/'+idCompte,
                type: 'POST',
                data: {type: affaireType},
                success: function (response) {
                    $('#listeAffaire').empty();
                    $("#listeAffaire").append(response.html);
                    $('#result-count').text(response.count);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout affaire.');
                }
            });
    }

    $(document).ready(function() {
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');
        
        $('#affaires_fournisseur').removeClass('active').empty();    
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');

        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');

        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        
        
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('#tab-import-produit').css('display', 'none');    
        $('#tab-info-affaire').css('display', 'none');
        $('#affaires_client').css('display', 'block');
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-facture-affaire').css('display', 'none');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');



    });
   
  </script>