
<div class="modal fade" id="modalDepotAffaire" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="modal-header modal-header-center">
                <h5 class="modal-title fw-bold" id="modalNewLabel">Facturation dépôt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="id-affaire-depot" data-affaire="{{affaire.id}}"></span>
                {% set unite = '' %}
                {% set prix = 0 %}
                {% set total = 0 %}
                {% if product.typeVente == "detail" %}
                    {% set unite = product.produitCategorie.uniteVenteGros %}
                    {% set prix = product.produitCategorie.prixVenteDetail %}
                    {% set total = product.qtt * product.produitCategorie.prixVenteDetail %}
                {% else %}
                    {% set unite = product.produitCategorie.presentationGros %}
                    {% set prix = product.produitCategorie.prixVenteGros %}
                    {% set total = product.qtt * product.produitCategorie.prixVenteGros %}
                {% endif %}
                <span class="unite" data-unite="{{unite}}"></span>
                <span class="price" data-price="{{prix}}"></span>

                {{ form_start(form, {'attr': {'id': 'depotProduit', 'action': path('affaires_depot_valid', {'product': product.id}) }}) }}
                    <div class="form-group mb-3">
                        <label for="" class="mb-2">Qté vendu <sup class="text-danger">*</sup></label>
                        <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.qttVendu)}} </span>
                        {{ form_widget(form.qttVendu) }}
                    </div>
                    <div class="alert alert-info">
                        <h4 class="text-center fw-bold mb-3">Récapitulatif</h4>
                        <p><strong>Prix unitaire : </strong><span> {{prix|number_format(0,',',' ')}} Ar </span></p>
                        <p>
                            <strong>Qté commandé : </strong>
                            <span class="qtt-commander" data-qttcommander="{{product.qtt}}">
                                {{product.qtt}}
                                {% if product.typeVente == "detail" %}
                                    {{product.produitCategorie.uniteVenteGros}}
                                {% else %}
                                {{product.produitCategorie.presentationGros}}
                                {% endif %}
                            </span>
                        </p>
                        <p>
                            <strong>Qté restant : </strong>
                            <span class="qtt-restant" data-restant="{{product.qttRestant}}" > 
                                {{product.qttRestant}} {{unite}} 
                            </span>
                        </p>
                        <p>
                            <strong>Total à payer : </strong>
                            <span class="total-paye" data-total="{{total}}">
                                {% if product.typeVente == "detail" %}
                                  {{total|number_format(0,',',' ')}} Ar
                                {% else %}
                                {{total|number_format(0,',',' ')}} Ar
                                {% endif %}
                            </span>
                        </p>
                        <p>
                            <strong>Déjà payer : </strong>
                            <span class="deja-paye" data-dejapaye="{{product.dejaPaye}}"> {{product.dejaPaye|number_format(0,',',' ')}} Ar </span>
                        </p>
                        <p><strong>Payer maintenant : </strong><span class="paye-now"></span></p>
                        <p><strong>Reste à payer : </strong><span class="reste-paye"></span></p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3" style="width: 100%;">Enregistrer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/script_utile.js')}}"></script>

<script>
   
    $(document).ready(function () {
    var anchorName = document.location.hash.substring(1);
        var idAffaire = $('.id-affaire-depot').data('affaire');

       $('#depotProduit').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    $('#modalDepotAffaire').modal('hide');
                    var nextLink = $('#sidebar').find('li#affaire').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Mise à jour effectuée');

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }

                        showTabDepot(idAffaire);

                    }, 800);
                   


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la facturation dépôt.');
                }
            });
        });
    });

    $(document).ready(function() {
        const qttVendu = $('#product_depot_qttVendu');
        const unite = $('.unite').data('unite');
        const price = $('.price').data('price');
        const total = $('.total-paye').data('total');
        const qttRestant = $('.qtt-restant').data('restant');
        const dejaPaye = $('.deja-paye').data('dejapaye');

        $('#product_depot_qttVendu').on('input', function() {
            const qttVenduValue = $(this).val();
            const qttCommander = $('.qtt-commander').data('qttcommander');
            if(qttVenduValue > qttCommander || (qttRestant > 0 && qttVenduValue > qttRestant)) {
                qttVendu.css('background-color', '#fc8b8b');
                qttVendu.val("");
                var message = 'La quantité vendu ' + qttVenduValue + ' ne doit pas supérieur à la quantité commandé ' + qttCommander + ' ou à la quantité restante ' + qttRestant ;
                //alert(message);
                setTimeout(function () {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 5000
                    };
                    toastr.error(message);

                }, 800);
            } else {
                qttVendu.css('background-color', '#fff');

                if(qttVenduValue != '') {
                    const payNow = qttVenduValue * price;
                    const payNowFinal = payNow + ' Ar';
                    $('.paye-now').text(payNowFinal);

                    let qttRestantFinal = null;
                    let qttRestante = null;

                    if(qttRestant == '') {
                        qttRestante = qttCommander - qttVenduValue;
                        qttRestantFinal = qttRestante + ' ' + unite;
                        $('.qtt-restant').text(qttRestantFinal);
                    } else {
                        qttRestante = qttRestant - qttVenduValue;
                        qttRestantFinal = qttRestante + ' ' + unite;
                        $('.qtt-restant').text(qttRestantFinal);
                    }

                    if(qttRestante == 0 || dejaPaye > 0) {
                        const restePaye = (total - payNow - dejaPaye) + ' Ar';
                        $('.reste-paye').text(restePaye);
                    } else {
                        const restePaye = (total - payNow) + ' Ar';
                        $('.reste-paye').text(restePaye);
                    }

                    

                } else {
                    $('.qtt-restant').text('');
                    $('.paye-now').text('');
                    $('.reste-paye').text('');
                }
            }
          
        })
    })
</script>
