<div class="modal fade" id="modalNewAffaire" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="modal-header modal-header-center">
                <h5 class="modal-title text-center fw-bold" id="modalNewLabel">Nouveau {% if statut == 'devis' %} dévis {% elseif statut == "commande" %} commande {% endif %} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                {{ form_start(form, {'attr': {'id': 'newAffaire', 'action': path('affaires_create', {'compte': compte.id}) }}) }}
                    <input type="hidden" name="statut" value="{{statut}}">
                    {% if statut == "commande" %}
                    <div class="form-group mb-4">
                        <input type="checkbox" name="revendeur" id="revendeur" class="revendeur">
                        <label for="">Revendeur</label>
                        <input type="checkbox" name="depot" id="depot" class="depot" style="margin-left: 100px;">
                        <label for="">Dépôt</label>
                    </div>
                        
                    {% endif %}
                    <div class="form-group mb-3">
                        <label for="" class="mb-2">Nom <sup class="text-danger">*</sup></label>
                        <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.nom)}} </span>
                        {{ form_widget(form.nom) }}
                    </div>

                    <div class="form-group mb-3 application">
                        <label for="" class="mb-2">Point de vente</label>
                        <select name="application-commande" id="application-commande" class="form-control form-control-md">
                            <option value="" selected disabled>Selectionner un point de vente</option>
                            {% for application in applications %}
                                <option value="{{application.id}}">{{application.entreprise}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3 mt-3" style="width: 100%;">
                            {% if statut == 'devis' %}
                                Ajouter le devis
                            {% elseif statut == 'commande' %}
                                Ajouter la commande
                            {% endif %}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script src="{{ asset('assets/js/script_utile.js')}}"></script>
<script>
  
    $(document).ready(function () {

        $('.application').hide();
        $('#revendeur').on('change', function() {
            if ($(this).is(':checked')) {
                $('.application').show();
                $('#application-commande').attr('required', true)
            }else {
                $('.application').hide();
                $('#application-commande').removeAttr('required')

            }
        })
        
       $('#newAffaire').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
          
            // Create an FormData object
            let formData = new FormData(form[0]);
        //  formData.append('isNew', false);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#modalNewAffaire').modal('hide');
                    $('#listeAffaire').empty();
                    $("#listeAffaire").append(response.html);
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Enregistrement effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    var nextLink = $('#liste-affaire');
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout d\'un client.');
                }
            });
        });
    });
</script>
{% endblock %}
