
<div class="modal fade" id="modalUpdateCategoryPermission" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="modal-header modal-header-center">
                <h5 class="modal-title fw-bold" id="modalNewLabel">Mise à jour categorie permission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'updateCategoryPermission', 'action': path('app_category_permission_edit', {'category': id}) }}) }}
                    <div class="form-group mb-3">
                            <label for="" class="mb-2">Titre <sup class="text-danger">*</sup></label>
                            <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.title)}} </span>
                            {{ form_widget(form.title) }}
                        </div>
                         <div class="form-group mb-3">
                            <label for="" class="mb-2">Description <sup class="text-danger">*</sup></label>
                            <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.description)}} </span>
                            {{form_widget(form.description)}}
                        </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-3" style="width: 100%;">Modifier catégorie permission</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/script_utile.js')}}"></script>

<script>
   
    $(document).ready(function () {
       $('#updateCategoryPermission').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (response) {
                    $('#modalUpdateCategoryPermission').modal('hide');
                    var nextLink = $('#sidebar').find('li#category_permission').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Mise à jour effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                    showTabCategoriePermission();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la mise à jour de la catégorie permission.');
                }
            });
        });
    });
</script>
