<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
     
    </style>
</head>
<body>
    <div>
        {% if application.logoFile is not null %}
            <img src="{{ absolute_url(vich_uploader_asset(application, 'logoFile')) }}" alt="" style="width: 300px; height: 150px;">
        {% endif %}
    </div>

    <div style="margin-bottom: 20px;">
        <p style="margin-left: 500px;">Date : <strong style="margin-left: 15px;">{{factureBenefice.date|date('d/m/Y')}}</strong></p>
    </div>

    <div style="margin-bottom: 30px;">
        <table class="table" style="width: 100%;">
            <tr>
                <th style="width: 50%; border: 1px solid #000;">
                    <p style="font-size: 15px;"> {{application.entreprise}} </p>
                    <p style="font-size: 15px;">{{application.adresse}}</p>
                    <p style="font-size: 15px;">NIF: {{application.nif}}</p>
                    <p style="font-size: 15px;">STAT: {{application.stat}}</p>
                    <p style="font-size: 15px;">TEL <span style="margin-left: 100px;">{{application.telephone}}</span></p>
                </th>
                <th style="width: 50%; border: 1px solid #000;">
                    <p style="text-align: center; font-size: 15px; text-transform: uppercase;"> Bénéfice </p>
                    <p style="font-size: 15px;">**************</p>
                </th>
            </tr>
        </table>
    </div>
    <div style="margin-bottom: 30px;">
        <p style="text-align: center; font-size: 30px;"> 
            <strong>
                Facture / 
                {% if factureBenefice.statut == "annule" %}
                    FAC/VSM/Encaissement-{{factureBenefice.numero}}-{{ factureBenefice.date|date('y') }}
                {% elseif factureBenefice.statut == "regle" or factureBenefice.statut == "encours" %}
                    FAC/VSM/Encaissement-{{factureBenefice.numero}}-{{ factureBenefice.date|date('y') }}
                {% endif %}
            </strong>
        </p>
    </div>
    <div style="margin-bottom: 30px;">
        <table width="100%">
            <thead>
                <tr style="background-color: #504f4f81; color: #fff;">
                    <th width="24%">
                        Désignation
                    </th>
                    <th width="30%">
                        Commandes
                    </th>
                    <th width="12%">
                        Espèce
                    </th>
                    <th width="24%">
                        Mobile money
                    </th>
                    <th width="10%">Total</th>

                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
                    <td width="24%">
                        {{benefice.designation}}
                    </td>
                    <td width="30%">
                        {% for facture in factures %}
                            {% if facture.isEcheance is not null and facture.isEcheance == true %}
                                FAC/VSM/{{facture.numero}}-E{{facture.echeanceNumero}}-{{ facture.date|date('y')}}
                            {% elseif facture.isDepot is not null and facture.isDepot == true %}
                                FAC/VSM/{{facture.numero}}-D{{facture.depotNumero}}-{{ facture.date|date('y')}}
                            {% else %}
                                FAC/VSM/{{facture.numero}}-{{ facture.date|date('y')}}
                            {% endif %} <br>
                        {% endfor %}
                    </td>
                    <td width="12%">
                        {{ benefice.espece|number_format(0,',',' ') }} Ar

                    </td>
                    <td width="24%">
                        {{ benefice.mobileMoney|number_format(0, ',', ' ') }} Ar
                    </td>
                    <td width="10%">
                        {{ benefice.total|number_format(0, ',', ' ') }} Ar
                        
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 20px;">
        <p style="border: 1px solid #000; padding: 10px 50px; width: 40%;">
                TOTAL À GAGNER 
            <br><br>
            <span> {{benefice.total|number_format(0,',',' ')}} Ar </span>
        </p>
    </div>

    <div>
        <p>
            <strong>Responsable</strong> <br><br>
            <span>{{user.nom}}</span>
        </p>
    </div>
    

</body>
</html>