<style>
  .icon-check {
    background-color: #2a4ce8;
    padding: 5px 8px;
    color: #fff;
    border-radius: 5px;
  }

  .icon-reload {
    background-color: #ffc107;
    padding: 5px 8px;
    margin-left: 15px;
    border-radius: 5px;
  }
  .title {
    color: #04176d;
  }
</style>

<div class="pagetitle">
    <h1>Liste historique produit </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
        <div class="col-lg-12">
          <div class="card p-3 p-lg-5">
            <div class="row">
              <div class="col-md-3 col-12 d-flex justify-content-center align-items-center">
                <h3 class="fw-bold title">Filtre historique</h3>
              </div>
              <div class="col-md-7 col-12 ">
                <div class="row">
                  <div class="col-md-6 col-12 ">
                    <div class="form-group mb-3">
                      <label for="" class="mb-2">Nom de produit : </label>
                      <input type="text" class="product_name form-control form-control-md" id="product_name" placeholder="Entrer le nom de produit">
                    </div>
                    <div class="form-group mb-3">
                      <label for="" class="mb-2">Responsable : </label>
                      <input type="text" class="product_responsable form-control form-control-md" id="product_responsable" placeholder="Entrer le nom de produit">
                    </div>
                  </div>
                  <div class="col-md-6 col-12 ">
                    <div class="form-group mb-3">
                      <label for="" class="mb-2">Date du : </label>
                      <input type="text" class="form-control form-control-md historique-date-du" id="historique-date-du" placeholder="Entrer la date de début">
                    </div>
                    <div class="form-group mb-3">
                      <label for="" class="mb-2">Date au : </label>
                      <input type="text" class="form-control form-control-md historique-date-au" id="historique-date-au" placeholder="Entrer la date de fin">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-12  d-flex align-items-center justify-content-center">
                <div class="form-group mb-3">
                  <a href="#" onclick="return searchHistorique()"><i class="bi bi-check icon-check"></i></a>
                  <a href="#tab-historique-produit" onclick="return showTabHistoriqueProduit()"><i class="bi bi-arrow-clockwise icon-reload"></i></a>
                </div>
              </div>
              
            </div>
          </div>
            <div class="card p-3 p-lg-5">
                <div class="card-body">
                    {% if logEmpty %}
                        <div class="alert alert-warning p-3">
                            Aucun historique pour le moment
                        </div>
                    {% else %}
                        {% if logLines is not empty %}
                            <table class="table table-striped" id="table-historique-produit" style="width: 100%;">
                              <thead>
                                <tr class="text-nowrap">
                                    <th>Date</th>
                                    <th>Message</th>
                                    <th>Produit</th>
                                    <th>Nom du responsable</th>
                                    <th>Adresse e-mail</th>
                                    {#<th>ID Application</th>#}
                                </tr>
                              </thead>
                              <tbody>
                                  {% for line in logLines %}
                                      <tr class="text-nowrap">
                                          <td>{{ line['Date'] }}</td>
                                          <td>{{ line['Message'] }}</td>
                                          <td>{{ line['Produit'] }}</td>
                                          <td>{{ line['Nom du responsable'] }}</td>
                                          <td>{{ line['Adresse e-mail'] }}</td>
                                          {#<td>{{ line['ID Application'] }}</td>#}
                                      </tr>
                                  {% else %}
                                      <tr>
                                          <td colspan="5">Aucun historique pour le moment</td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                      </tr>
                                  {% endfor %}
                              </tbody>
                            </table>
                        {% else %}
                        <div class="alert alert-warning p-3">
                            Aucun historique pour le moment
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


  <script>

    $(document).ready(function() {
        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('.tab-import-produit').removeClass('active').empty();
        $('#tab-import-produit').removeClass('active').empty();
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');

        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');

        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
      
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
      
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-stock').removeClass('active').empty();
        $('#tab-produit-image').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-historique-produit').addClass('active');
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
         $('#tab-ventes').css('display', 'none');
         $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');



    })
    

  </script>

<script>
  $(document).ready(function() {
     var dateFormat = 'yyyy-mm-dd';
     var dateNow = new Date();
     dateNow.setDate(dateNow.getDate() + 1);

     $('#historique-date-du, #historique-date-au').datepicker({
         format: dateFormat,
         todayHighlight: true,
         language: 'fr',
         autoclose: true,
     });
 });

 function showSpinner() {
   document.getElementById('spinner').style.display = 'block';
   document.getElementById('overlay').style.display = 'block';
 }

 function hideSpinner() {
   document.getElementById('spinner').style.display = 'none';
   document.getElementById('overlay').style.display = 'none';
 }

 // Fonction pour convertir une date au format yyyy-mm-dd en objet Date
 function parseDate(dateStr) {
     if (!dateStr) return null;
     var date = new Date(dateStr);
     return new Date(date.getFullYear(), date.getMonth(), date.getDate());
 }

 // Fonction appelée lors du clic sur l'icône de recherche
 function searchHistorique() {
   var anchorName = document.location.hash.substring(1);

   showSpinner();
   
   setTimeout(function() {
       // Récupération des valeurs des filtres
       var nomProduit = $('#product_name').val().toLowerCase();
       var nomResponsable = $('#product_responsable').val().toLowerCase();
       var dateDebut = $('#historique-date-du').val();
       var dateFin = $('#historique-date-au').val();

       // Réinitialiser les filtres
       $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
           var dateSearch = parseDate(data[0].trim()); // La première colonne est la date
           var startDateDebut = dateDebut ? parseDate(dateDebut) : null;
           var endDateFin = dateFin ? parseDate(dateFin) : null;

           var productMatch = data[2].toLowerCase().indexOf(nomProduit) !== -1;
           var responsableMatch = data[3].toLowerCase().indexOf(nomResponsable) !== -1;
           var dateMatch = true;
           if (startDateDebut && dateSearch < startDateDebut) {
               dateMatch = false;
           }
           if (endDateFin && dateSearch > endDateFin) {
               dateMatch = false;
           }

           return productMatch && dateMatch && responsableMatch;
       });

       // Mettre à jour DataTables avec les nouveaux filtres
       $('#table-historique-produit').DataTable().draw();

       // Réinitialiser les filtres après utilisation
       $.fn.dataTable.ext.search.pop();

       if (anchorName) {
           window.location.hash = anchorName;
       }

       hideSpinner();
   }, 2000);
}

// Ajout de l'événement click à l'icône de recherche
document.addEventListener('DOMContentLoaded', function() {
     var searchButton = document.querySelector('.icon-check');
     searchButton.addEventListener('click', searchHistorique); // Correction de searchFacture en searchHistorique
 });
</script>
