
<div class="modal fade" id="modalNewApplication" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content p-4 modal-application">
            <div class="modal-header modal-header-center">
                <h5 class="modal-title fw-bold" id="modalNewLabel">Nouveau application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                {{ form_start(form, {'attr': {'id': 'newApplication', 'action': path('applications_create') }}) }}
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Point de vente <sup class="text-danger">*</sup> </label>
                                <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.entreprise)}} </span>
                                {{ form_widget(form.entreprise) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Nom responsable</label>
                                {{ form_widget(form.nomResp) }}
                            </div>
                        </div>
                   </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Prénom responsable</label>
                                {{ form_widget(form.prenomResp) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Email responsable</label>
                                {{ form_widget(form.mailResp) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">adresse</label>
                                {{ form_widget(form.adresse) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Téléphone</label>
                                {{ form_widget(form.telephone) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Nif  </label>
                                <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.nif)}} </span>
                                {{ form_widget(form.nif) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Stat</label>
                                {{ form_widget(form.stat) }}
                            </div>
                        </div>
                   </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Logo  </label>
                                <span class="text-danger" style="font-size: 12px;"> {{form_errors(form.logoFile)}} </span>
                                {{ form_widget(form.logoFile) }}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="" class="mb-2">Activé</label>
                                {{ form_widget(form.isActive) }}
                            </div>
                        </div>
                   </div>
                        
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm px-5 mt-3" style="width: 100%;">Ajouter application</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script src="{{ asset('assets/js/script_utile.js')}}"></script>
<script>
  
    $(document).ready(function () {
    
       $('#newApplication').on('submit', function (e) {
            e.preventDefault();
            let form = $(this);
            
            // Create an FormData object
            let formData = new FormData(form[0]);
          formData.append('isNew', false);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#modalNewApplication').modal('hide');
                    var nextLink = $('#sidebar').find('li#application').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Enregistrement effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la mise à jour de l\'application.');
                }
            });
        });
    });
</script>
{% endblock %}