<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gestion commerciale - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> #}
        
        <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/quill/quill.snow.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
        <link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
        <link href="{{ asset('plugins/datatable/datatable.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css')}}">
        <link href="{{ asset('assets/css/plugins/chosen/bootstrap-chosen.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <style>
            .notification-container {
                position: fixed;
                bottom: 20px;
                right: 20px;
                z-index: 1000;
                max-width: 300px;
            }

            .notification {
                background-color: #f0f8ff;
                border: 1px solid #007bff;
                padding: 10px;
                margin: 5px 0;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .notification button {
                background: none;
                border: none;
                cursor: pointer;
            }

            .icon-notification .nav-link.nav-icon i {
                font-size: 20px !important;
            }

        </style>

        <style>
            .open-button {
                background-color: #7e1111;
                color: white;
                border: none;
                border-radius: 100%;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 5px;
                left: 120px; /* Déplace le bouton à gauche */
                top: 70px;
                width: 40px;
                height: 40px;
                z-index: 99999;
            }

            .open-button:hover {
                background-color: #7e1111 !important;
                color: #fff;
            }

        /* The popup chat - hidden by default */
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            left: 120px !important; /* Déplace le popup à gauche */
            top: 70px;
            border: 3px solid #f1f1f1;
            z-index: 999999;
        }

        /* Add styles to the form container */
        .pop-up-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

        /* Full-width action-liste */
        .pop-up-container .action-liste {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }

        /* Set a style for the submit/send button */
        .pop-up-container .btn {
            background-color: #7e1111 !important;
            color: white;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .pop-up-container .cancel {
            background-color: #7e1111;
        }

        /* Add some hover effects to buttons */
        .pop-up-container .btn:hover, .open-button:hover {
        opacity: 1;
        }
        </style>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'admin/partials/menu_left.html.twig' %}
                        
        {% include 'admin/partials/header.html.twig' %}
        
        <main id="main" class="main tab-content">
            {% block body %}{% endblock %}
        </main>
        <div id="overlay" class="overlay" style="display: none;"></div>
        <div id="spinner" class="spinner" style="display: none;"></div>

        <button class="open-button" onclick="openForm()" title="Session"><i class="bi bi-box-arrow-in-right"></i></button>
        <div class="chat-popup" id="myForm">
            <div class="pop-up-container">
                {% if app.session.get('currentSession') is not null and app.session.get('dateCurrentSession') is not null %}
                <h5 class="fw-bold">Session du {{ app.session.get('dateCurrentSession')|date('d-m-Y') }}</h5>
                {% endif %}
                <div class="action-liste">
                    {% if app.session.get('currentSession') is null and app.session.get('dateCurrentSession') is null %}
                        <a class="dropdown-item" href="{{ path('app_create_session_modal') }}">Créer une session</a>
                    {% endif %}
                    {% if app.session.get('currentSession') is not null and app.session.get('dateCurrentSession') is not null %} 
                        {% if app.session.get('isMeInSession') == false %}  
                            <a class="dropdown-item" href="{{ path('app_rattache_session_modal', {'id': app.session.get('currentSession')}) }}">Rattacher à cette session</a>
                        {% endif %}
                        <a class="dropdown-item" href="#" onclick="return setSession(false, '{{app.session.get('currentSession')}}')">Fermer une session</a>
                    {% endif %}
                </div>
                <button type="button" class="btn btn-sm cancel" onclick="closeForm()">Fermer</button>
            </div>
        </div>


        <script src="{{ asset('assets/js/jquery-3.6.0.js') }}"></script>
        <script src="{{asset('assets/vendor/popper/popper.min.js')}}"></script>
        <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
		<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
        <script src="{{ asset('plugins/moment/fr.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('plugins/ckeditor/ckeditor.js') }}"></script>
        <script src="{{asset('assets/vendor/apexcharts/apexcharts.min.js')}}"></script>
        <script src="{{asset('assets/vendor/chart.js/chart.umd.js')}}"></script>
        <script src="{{asset('assets/vendor/echarts/echarts.min.js')}}"></script>
        <script src="{{asset('assets/vendor/quill/quill.min.js')}}"></script>
        <script src="{{asset('assets/vendor/simple-datatables/simple-datatables.js')}}"></script>
        <script src="{{asset('assets/vendor/tinymce/tinymce.min.js')}}"></script>
        <script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>
        <script src="{{ asset('plugins/datatable/datatable.min.js') }}"></script>
        <script src="{{ asset('plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('plugins/datepicker/js/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="{{ asset('assets/js/plugins/toastr/toastr.min.js') }}"></script>
        <script src="{{ asset('assets/js/script_base.js?version=1.1')}}"></script>
        <script src="{{ asset('assets/js/plugins/chosen/chosen.jquery.js') }}"></script>

        <script src="{{asset('assets/js/admin.js')}}"></script>
                    <!-- iCheck -->
    <script src="{{ asset('plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>

    </body>
</html>
