<div class="pagetitle">
    <h1>Détail comptabilité </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
        
          <div class="card-body px-3 px-lg-4 py-lg-5 py-5">
            <div class="alert alert-info">
                Avant de faire une modification de comptabilité, veuillez d'abord régler l'erreur sur l'encaissement ou sur les depenses s'il y en a, merci!!
            </div>
            <div class="row">
                <div class="col-md-6 col-12" style="border-right: solid 2px #5e1212;">
                    <div class="affaire">
                        <span class="id-revenu" data-revenu="{{Revenu.id}}"></span>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="fw-bold mb-3">Encaissement</h4>
                            {#<a href="#" class="btn btn-primary btn-sm" id="edit-compta" title="Modifier encaissement"><i class="bi bi-pencil-square"></i></a>#}
                        </div>
                       
                        <hr>
                        <div class="content">
                          <div class="alert alert-warning">
                            <p><strong>Designation : </strong> {{Revenu.designation}} </p>
                            <p><strong>Espèce : </strong> {{Revenu.espece|number_format(0,',','')}} Ar </p>
                            <p><strong>Mobile money : </strong> {{Revenu.mobileMoney|number_format(0,',','')}} Ar </p>
                            <p><strong>Total : </strong> {{Revenu.total|number_format(0,',','')}} Ar </p>
                            <p><strong>Date : </strong> {{Revenu.dateRevenu|date('d-m-Y')}} </p>
                          </div>
                        </div>
                        
                    </div>
                    <div class="detail-revenu">
                      <h5 class="fw-bold mb-3 mt-5">Détail encaissement</h5>
                        <div class="row">
                            {% for facture in Revenu.factures %}
                              {% set methodePaiement = facture.methodePaiements|length %}
                              <div class="col-md-6 col-12">
                                <div class="card shadow p-3">
                                  <div class="d-flex justify-content-between">
                                    <h6 class="fw-bold "> {{facture.affaire.nom}} </h6>
                                    {% if facture.methodePaiements|length < 1 %}
                                      <span class="add"><i class="bi bi-exclamation-circle-fill"></i></span>
                                      {% set allFacturesHavePaymentMethod = false %}
                                    {% endif %}
                                  </div>
                                  
                                  <p class="">
                                    {% if facture.isEcheance is not null and facture.isEcheance == true %}
                                      FAC/VSM/{{facture.numero}}-E{{facture.echeanceNumero}}-{{ facture.date|date('y')}}
                                    {% elseif facture.isDepot is not null and facture.isDepot == true %}
                                      FAC/VSM/{{facture.numero}}-D{{facture.depotNumero}}-{{ facture.date|date('y')}}
                                    {% else %}
                                      FAC/VSM/{{facture.numero}}-{{ facture.date|date('y')}}
                                    {% endif %}
                                  </p>
                                  <p class="">
                                    Solde : {{facture.solde|number_format(0,',',' ')}} Ar
                                  </p>
                                  <p class="">
                                    <a href="#" onclick="return detailMethodePaiement({{facture.id}})" class="bg-warning text-black" style="padding: 7px 9px; border-radius: 100%;"><i class="bi bi-ticket-detailed-fill"></i></a>
                                    {% if facture.methodePaiements|length < 1 %}
                                      <a href="#" onclick="return newMethodePaiement({{facture.id}})" class="mx-3 bg-primary text-white" style="padding: 7px 9px; border-radius: 100%;"><i class="bi bi-plus-circle-fill "></i></a>
                                    {% endif %}
                                  </p>
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="depense">
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="fw-bold mb-0">Dépenses </h4>
                        <a href="#" onclick="return newDepense()" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle-fill"></i></a>
                    </div>
                    <hr>
                    <div class="content">
                      {% set isFactureDepense = false %}
                      {% if depenses|length > 0 %}
                      {% set grandTotal = 0 %}
                        {% for depense in depenses %}
                          {% set grandTotal = grandTotal + depense.total %}
                          <div class="row alert alert-info" style="margin-left: 1px;">
                              <div class="col-md-4 col-12">
                                <p><i class="bi bi-dot fs-4"></i> {{depense.designation}} </p>
                              </div>
                              <div class="col-md-2 col-12">
                                <p>x {{depense.nombre}} </p>
                              </div>
                              <div class="col-md-2 col-12">
                                <p> {{depense.prix|number_format(0,',',' ')}} Ar </p>
                              </div>
                              <div class="col-md-2 col-12">
                                <p> {{depense.total|number_format(0,',',' ')}} Ar </p>
                              </div>
                              <div class="col-md-2 col-12">
                                  <a href="#" onclick="return updateDepense({{depense.id}})" class="text-primary"><i class="bi bi-pencil-square"></i></a>
                                  <a href="#" onclick=" return deleteDepense({{depense.id}})" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                              </div>
                          </div>
                        {% endfor %}
                        <div class="alert alert-warning">
                          Grand total : {{grandTotal|number_format(0,',',' ')}} Ariary
                        </div>
                        {% if not isFactureDepense %}
                          <div class="pdf">
                            <a href="#" onclick="return createFactureDepense()" class="btn btn-primary btn-sm px-3">Créer une facture</a>
                          </div>
                        {% endif %}
                      {% else %}
                        <div class="alert alert-warning">
                          Aucun depense pour cette date
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalDetailComptabiliteEmpty"></div>
</section>

<script>
    $(document).ready(function() {
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('.tab-user').removeClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').removeClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');     
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
         $('#tab-ventes').css('display', 'none');
         $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'block');
        $('#tab-comptabilite-liste').removeClass('active');

    });
</script>

<script>
    $(document).ready(function(){
        var anchorName = document.location.hash.substring(1);

        $('#detail-revenu').hide();

        $('#edit-compta').on('click', function(){
            $('#detail-revenu').show();
            if (anchorName) {
                window.location.hash = anchorName;
            }
})
    })
</script>

