<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }

  @keyframes fadeInOut {
  0%, 100% { 
    opacity: 1; 
  }
  50% { 
    opacity: 0;
  }
}

.add {
  animation: fadeInOut 3s ease-in-out infinite; 
  color: #5e1212;
}

 
</style>

<div class="pagetitle">
    <h1>Comptabilité </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
        
          <div class="card-body px-3 px-lg-4 py-lg-5 py-5">
            <div class="row">
                <div class="col-md-6 col-12" style="border-right: solid 2px #5e1212;">
                    <div class="affaire">
                        <h4 class="fw-bold mb-3">Commandes encaissées</h4>
                        <hr>
                        <div class="content">
                          <div class="filter mb-4">
                            <div class="row">
                              <div class="col-md-9 col-12">
                                <input type="text" name="filter-commande" id="filter-commande" class="filter-commande form-control form-control-sm" placeholder="Entrer une date">
                              </div>
                              <div class="col-md-3 col-12">
                                <a href="#" class="btn btn-sm btn-danger" id="filter-check-commande"><i class="bi bi-check-square-fill"></i></a>
                                <a href="#tab-comptabilite" onclick="return showTabComptabilite()" class="btn btn-warning btn-sm"><i class="bi bi-arrow-clockwise"></i></a>
                              </div>
                            </div>
                          </div>

                          <div id="blocFactures">
                            {% if factures is not null and factures|length > 0 %}
                              {% set allFacturesHavePaymentMethod = true %}
                              <div class="row">
                                {% for facture in factures %}
                                  {% set methodePaiement = facture.methodePaiementId|length %}
                                  <div class="col-md-6 col-12">
                                    <div class="card shadow p-3">
                                      <div class="d-flex justify-content-between">
                                        <h6 class="fw-bold "> {{facture.affaireNom}} </h6>
                                        {% if facture.methodePaiementId|length < 1 %}
                                          <span class="add"><i class="bi bi-exclamation-circle-fill"></i></span>
                                          {% set allFacturesHavePaymentMethod = false %}
                                        {% endif %}
                                      </div>
                                      
                                      <p class="">
                                        {% if facture.isEcheance is not null and facture.isEcheance == true %}
                                          FAC/VSM/{{facture.numero}}-E{{facture.echeanceNumero}}-{{ facture.date|date('y')}}
                                        {% elseif facture.isDepot is not null and facture.isDepot == true %}
                                          FAC/VSM/{{facture.numero}}-D{{facture.depotNumero}}-{{ facture.date|date('y')}}
                                        {% else %}
                                          FAC/VSM/{{facture.numero}}-{{ facture.date|date('y')}}
                                        {% endif %}
                                      </p>
                                      <p class="">
                                        Solde : {{facture.solde|number_format(0,',',' ')}} Ar
                                      </p>
                                      <p class="">
                                        <a href="#" onclick="return detailMethodePaiement({{facture.id}})" class="bg-warning text-black" style="padding: 7px 9px; border-radius: 100%;"><i class="bi bi-ticket-detailed-fill"></i></a>
                                        {% if facture.methodePaiementId|length < 1 %}
                                          <a href="#" onclick="return newMethodePaiement({{facture.id}})" class="mx-3 bg-primary text-white" style="padding: 7px 9px; border-radius: 100%;"><i class="bi bi-plus-circle-fill "></i></a>
                                        {% endif %}
                                      </p>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                          
                              {% if allFacturesHavePaymentMethod %}
                                <div class="alert alert-warning">
                                  {% set totalEspece = 0 %}
                                  {% set totalMvola = 0 %}
                                  {% set totalOrangeMoney = 0 %}
                                  {% set totalAirtelMoney = 0 %}
                          
                                  {% for methodePaiement in methodePaiements %}
                                    {% set totalEspece = totalEspece + methodePaiement.espece %}
                                    {% set totalMvola = totalMvola + methodePaiement.mVola %}
                                    {% set totalOrangeMoney = totalOrangeMoney + methodePaiement.orangeMoney %}
                                    {% set totalAirtelMoney = totalAirtelMoney + methodePaiement.airtelMoney %}
                                  {% endfor %}
                          
                                  <p>
                                    <strong>Paiement en espèce :</strong> {{totalEspece|number_format(0,',',' ')}} Ariary
                                  </p>
                                  <p>
                                    <strong>Paiement Mvola :</strong> {{totalMvola|number_format(0,',',' ')}} Ariary
                                  </p>
                                  <p>
                                    <strong>Paiement AirtelMoney :</strong> {{totalAirtelMoney|number_format(0,',',' ')}} Ariary
                                  </p>
                                  <p>
                                    <strong>Paiement OrangeMoney :</strong> {{totalOrangeMoney|number_format(0,',',' ')}} Ariary
                                  </p>
                          
                                  <p class="bg-danger py-2 text-center text-white" style="border-radius: 5px;">
                                    <strong>ESPECE : </strong> {{totalEspece|number_format(0,',',' ')}} Ariary
                                    <br>
                                    <strong>MOBILE MONEY : </strong> {{(totalMvola + totalAirtelMoney + totalOrangeMoney)|number_format(0,',',' ')}} Ariary
                                    <br>
                                    <strong>TOTAL : </strong> {{(totalEspece + totalMvola + totalAirtelMoney + totalOrangeMoney)|number_format(0,',',' ')}} Ariary
                                  </p>
                                  {% if not existDate %}
                                    <p class="d-flex justify-content-center">
                                      <a href="#" onclick="return newBenefice()" class="btn btn-info btn-sm px-3" style="margin-right: 15px;">Encaisser</a>
                                    </p>
                                  {% else %}
                                    <p class="d-flex justify-content-center">
                                      <a href="#tab-vente" onclick="return showTabVente()" class="btn btn-info btn-sm px-3" style="margin-right: 15px;">Vente</a>
                                    </p>
                                  {% endif %}

                                  {#<p class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-info btn-sm px-3" style="margin-right: 15px;">Facturer Bénéfice</a>
                                    <a href="#" class="btn btn-info btn-sm px-3">Facturer comptabilité</a>
                                  </p>#}
                                </div>
                              {% else %}
                                <div class="alert alert-warning">
                                  <strong>Attention :</strong> Toutes les factures n'ont pas de méthode de paiement associée.
                                </div>
                              {% endif %}
                              
                            {% else %}
                              <div class="alert alert-warning">
                                Aucune facture réglée pour cette date
                              </div>
                            {% endif %}
                          </div>
                          
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="depense">
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="fw-bold mb-0">Dépenses</h4>
                      <a href="#" onclick="return newDepense()" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle-fill"></i></a>
                    </div>
                    <hr>
                    <div class="content">
                      <div class="filter mb-4">
                        <div class="row">
                          <div class="col-md-9 col-12">
                            <input type="text" name="filter-depense" id="filter-depense" class="filter-commande form-control form-control-sm" placeholder="Entrer une date">
                          </div>
                          <div class="col-md-3 col-12">
                            <a href="#" class="btn btn-sm btn-danger" id="filter-check-depense"><i class="bi bi-check-square-fill"></i></a>
                            <a href="#tab-comptabilite" onclick="return showTabComptabilite()" class="btn btn-warning btn-sm"><i class="bi bi-arrow-clockwise"></i></a>
                          
                          </div>
                        </div>
                      </div>
                     
                      <div id="blocDepenses">
                        {% if depenses|length > 0 %}
                        {% set grandTotal = 0 %}
                          {% for depense in depenses %}
                            {% set grandTotal = grandTotal + depense.total %}
                            <div class="row alert alert-info" style="margin-left: 1px;">
                                <div class="col-md-4 col-12">
                                  <p><i class="bi bi-dot fs-4"></i> {{depense.designation}} </p>
                                </div>
                                <div class="col-md-2 col-12">
                                  <p>x {{depense.nombre}} </p>
                                </div>
                                <div class="col-md-2 col-12">
                                  <p> {{depense.prix|number_format(0,',',' ')}} Ar </p>
                                </div>
                                <div class="col-md-2 col-12">
                                  <p> {{depense.total|number_format(0,',',' ')}} Ar </p>
                                </div>
                                <div class="col-md-2 col-12">
                                  <a href="#" onclick="return updateDepense({{depense.id}})" class="text-primary"><i class="bi bi-pencil-square"></i></a>
                                  <a href="#" onclick=" return deleteDepense({{depense.id}})" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </div>
                          {% endfor %}
                          <div class="alert alert-warning">
                            Grand total : {{grandTotal|number_format(0,',',' ')}} Ariary
                          </div>
                          {#<div class="pdf">
                            <a href="#" onclick="return createFactureDepense()" class="btn btn-primary btn-sm px-3">Créer une facture</a>
                          </div>#}
                        {% else %}
                          <div class="alert alert-warning">
                            Aucun depense pour cette date
                          </div>
                        {% endif %}
                      </div>
                      
                    </div>
                  </div>
                </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalComptabiliteEmpty"></div>
</section>

<script>
  $(document).ready(function() {
  var dateFormat = 'dd/mm/yyyy';
  var dateNow = new Date();
  dateNow.setDate(dateNow.getDate() + 1)

  $('#filter-depense, #filter-commande').datepicker({
      format: dateFormat,
      todayHighlight: true,
      language: 'fr',
      autoclose: true,

  });

});
</script>

  <script>
    //datatable
    
    $(document).ready(function() {
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('.tab-user').removeClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').removeClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').removeClass('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');     
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');

        $('#tab-comptabilite').css('display', 'block');

    });
    
    function createFactureDepense() {
        if (confirm('Voulez vous vraiment créer cette facture?')) {
            setTimeout(function() {
                $.ajax({
                url: '/admin/depense/facture',
                type: 'POST',
                //data: {id: id},
                success: function (response) {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Création facture fait');
                        
                        showTabComptabilite();

                        if (response.pdfUrl) {
                            window.open(response.pdfUrl, '_blank');
                        }

                    }, 800);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la création de facture.');
                }
            });
        
            }, 500);
           
        }
    }
  
    function newBenefice() {
      var anchorName = document.location.hash.substring(1);
            $.ajax({
                url: '/admin/benefice/new',
                type: 'POST',
                //data: {isNew: isNew},
                success: function (response) {
                    $("#blocModalComptabiliteEmpty").empty();
                    $("#blocModalComptabiliteEmpty").append(response.html);
                    $('#').modal('show');
                    if (anchorName) {
                        window.location.hash = anchorName;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors l\'ajout de benefice.');
                }
            });
    }

  </script>

  <script>
  $(document).ready(function() {

    $('#filter-check-commande').on('click', function(e) {
      e.preventDefault();
        let filterDate = $('#filter-commande').val();
        $.ajax({
            url: '/admin/comptabilite/reload',
            type: 'GET',
            data: {
                'filter-commande': filterDate,
                'filter': "commande"
            },
            success: function (data) {
              $('#blocFactures').empty().append(data.html);
              window.location.hash = "tab-comptabilite";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Erreur de filtrage : ' + textStatus);
            }
        });
    })

    $('#filter-check-depense').on('click', function(e) {
      e.preventDefault();
        let filterDate = $('#filter-depense').val();
        $.ajax({
            url: '/admin/comptabilite/reload',
            type: 'GET',
            data: {
                'filter-depense': filterDate,
                'filter': "depense"
            },
            success: function (data) {
              $('#blocDepenses').empty().append(data.html);
              window.location.hash = "tab-comptabilite";
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Erreur de filtrage : ' + textStatus);
            }
        });
    })
  })

  </script>