<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }
 
</style>

<div class="pagetitle">
    <h1>Liste comptabilités </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body px-3 px-lg-5 pb-lg-5 pt-5">
            <table class="table table-striped" id="table-comptabilite-liste" style="width: 100%;">
              <thead>
                <tr class="text-nowrap">
                    <th>Date de création</th>
                    <th>Designation</th>
                    <th>Date de comptabilité</th>
                    <th>Montant</th>
                    <th>Commandes(factures)</th>
                    <th>Total commande</th>
                    <th>Dépenses</th>
                    <th>Total dépense</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for comptabilite in comptabilites %}
                    <tr class="text-nowrap">
                        <td> {{comptabilite.dateCreation|date('d-m-Y')}} </td>
                        <td> {{comptabilite.designation}} </td>
                        <td> {{comptabilite.dateComptabilite|date('d-m-Y')}} </td>
                        <td> {{comptabilite.reste|number_format(0,',',' ')}} Ar </td>
                        <td>
                            {% for facture in comptabilite.benefice.factures %}
                                {% if facture.isEcheance is not null and facture.isEcheance == true %}
                                    FAC/VSM/{{facture.numero}}-E{{facture.echeanceNumero}}-{{ facture.date|date('y')}}
                                {% elseif facture.isDepot is not null and facture.isDepot == true %}
                                    FAC/VSM/{{facture.numero}}-D{{facture.depotNumero}}-{{ facture.date|date('y')}}
                                {% else %}
                                    FAC/VSM/{{facture.numero}}-{{ facture.date|date('y')}}
                                {% endif %} <br>
                            {% endfor %}
                        </td>
                        <td> {{comptabilite.benefice.total|number_format(0,',',' ')}} Ar </td>
                        <td>
                            {% set totalDepense = 0 %}
                            {% for depense in comptabilite.depenses %}
                                {% set totalDepense = totalDepense + depense.total %}
                                -{{depense.designation}} <br>
                            {% endfor %}
                        </td>
                        <td> {{totalDepense|number_format(0,',',' ')}} Ar </td>
                        <td>
                            Entre {{comptabilite.fourchette.minVal|number_format(0,',',' ')}} Ar et {{comptabilite.fourchette.maxVal|number_format(0,',',' ')}} ({{comptabilite.fourchette.status}})
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun enregistrement trouvé</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalApplicationEmpty">
            </div>
  </section>

  <script>
    //datatable
    
    $(document).ready(function() {
        $('#tab-historique-produit').removeClass('active').empty();
        $('#tab-historique-affaire').removeClass('active').empty();
        $('#tab-produit-date-peremption').removeClass('active').empty();
        $('#tab-inventaire-produit').css('display','none');

        $('#tab-fiche-fournisseur').removeClass('active').empty();
        $('#tab-quantite-vendu').removeClass('active').empty();
        $('#tab-notification').removeClass('active').empty();
        $('.tab-user').removeClass('active');
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
        $('#tab-utilisateur').removeClass('active');
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        $('#tab-application').remove('active');
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');  
         $('#tab-compte_1').removeClass('active');
        $('#tab-compte_2').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-import-produit').css('display', 'none');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
        $('#affaires_fournisseur').removeClass('active').empty();
        $('#tab-info-affaire').removeClass('active').empty();
        $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        $('#tab-facture').css('display', 'none');
        $('#tab-facture-affaire').css('display', 'none');     
        $('#tab-nouveau-facture').css('display','none');
        $('#tab-devis').css('display','none');
        $('#tab-commande').css('display','none');
        $('#tab-echeance').css('display','none');
        $('#tab-produit-image').removeClass('active');
        $('#tab-stock').removeClass('active');
        $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-benefice').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
        $('#tab-comptabilite-liste').addClass('active');



    });

  </script>