<style>
    .dataTables_scroll {
      margin-top: 50px !important;
      margin-bottom: 30px !important;
    }
    td, tr {
      border-bottom: none !important;
    }

    .card-head {
        border: 1px solid #2a4ce8;
    }

    .icon-check {
        padding: 5px 8px;
        background-color: #2a4ce8;
        font-size: 25px;
        color: #fff;
        border-radius: 5px;
    }

    .title {
        font-size: 19px;
        color: #04176d;
        font-size: 30px;
    }

    .custom-checkbox {
        width: 20px;  
        height: 20px; 
    }

    .btn-add {
        padding: 1px 8px;    
        color: #000;
        border-radius: 5px;    
    }
   
  </style>
  
  <div class="pagetitle">
      <h1>Liste écheances </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ol>
      </nav>
    </div>
  <section class="section">
    <div class="facture-id" data-facture="{{facture.id}}"></div>
      <div class="row">
        <div class="col-lg-12">
             {% include 'admin/affaires/entete_compte.html.twig' with { 'compte': affaire.compte } %}

            {% include 'admin/affaires/entete_affaire.html.twig' with { 'affaire' : affaire} %}
            <div class="row">
                <div class="col-md-2 col-12">
                    {% include '/admin/affaires/menu_left.html.twig' with { 'affaire' : affaire} %}
                 </div>
                 <div class="col-md-10 col-12">
                    <div class="card">
                        <div class="d-flex justify-content-end p-2">
                            {% if montantHt != facture.solde %}
                                <a href="#" onclick="return openModalAddFactureEcheance({{facture.id}})" class="btn-add bg-warning"><i class="bi bi-plus fs-4"></i></a>
                            {% endif %}

                        </div>
                        <div class="card-body p-3 p-lg-5">
                            <div class="row mb-5">
                                <div class="col-md-8 col-12">
                                    <h3 class="mb-5 title fw-bold">
                                        <i class="bi bi-file-earmark-excel-fill"></i>
                                        <span class="mx-2">Écheances</span>
                                    </h3>
                                </div>
                                <div class="col-md-4 col-12">
                                    <p class="bg-danger py-1 px-2 text-white">Total à payer :  <span>{{facture.solde|number_format(0,',',' ')}} Ar</span> </p>
                                    <p class="bg-danger py-1 px-2 text-white">Déjà payer :  <span>{{facture.reglement|number_format(0,',',' ')}} Ar</span> </p>
                                </div>
                            </div>

                            {% if error %}
                                
                                <div class="alert alert-danger">
                                    Attention le montant total {{montantHt|number_format(0,',',' ')}} Ar d'écheance n'est pas égal au montant total à payer {{facture.solde|number_format(0,',',' ')}} Ar , 
                                    alors vous devez verifier le calcul avant de faire quoi que ce soit.
                                    Il manque {{montantManquant|number_format(0,',',' ')}} Ar
                                </div>
                            {% endif %}

                            <table class="table table-striped" id="table-date-echeance" style="width: 100%;">
                                <thead>
                                    <tr class="text-nowrap">
                                        <th>Actions</th>
                                        <th>Statut</th>
                                        <th>Montant à payer</th>
                                        <th>Délais de paiement</th>
                                        <th>Date d'écheance</th>
                                        <th>Date écheance reportée</th>
                                        <th>Réglement</th>
                                        <th>Reporter</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set dernierStatusRegle = false %}
                                    {% for index, liste in listes %}
                                    <tr class="text-nowrap">
                                        {#<td>
                                            {% if liste.status == "regle" %}
                                                <a href="{{ asset('uploads/factures/echeance/' ~ liste.file) }}" target="_blank" class="text-danger" title="Voir facture"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                                            {% else %}
                                                <a href="#" onclick="return openModalNewFactureEcheance({{liste.id}})" title="Facturer" class="text-primary"><i class="bi bi-receipt"></i></a>
                                                {% if liste.isReporter != 1 %}
                                                    <a href="#" onclick="return openModalNewFactureEcheanceReporter({{liste.id}})" title="A reporter" class="mx-2 text-danger"><i class="bi bi-clock-history"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        </td>#}
                                        <td>
                                            {% if liste.status == "regle" %}
                                                <a href="{{ asset('uploads/APP_' ~ application.id ~'/factures/echeance/' ~ liste.file) }}" target="_blank" class="text-danger" title="Voir facture"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                                                {% set dernierStatusRegle = true %}
                                            {% else %}
                                                {% if not error %}
                                                    {% if index == 0 or dernierStatusRegle %}
                                                        <a href="#" onclick="return openModalNewFactureEcheance({{liste.id}})" title="Facturer" class="text-primary fs-6"><i class="bi bi-receipt"></i></a>
                                                        {% if liste.isReporter != 1 %}
                                                            <a href="#" onclick="return openModalNewFactureEcheanceReporter({{liste.id}})" title="A reporter" class="mx-2 text-danger fs-6"><i class="bi bi-clock-fill"></i></a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                                {% set dernierStatusRegle = false %}
                                                <a href="#" onclick="return openModalUpdateFactureEcheance({{liste.id}}) " title="Modifier" class="text-primary  fs-6"><i class="bi bi-pencil-square"></i></a>
                                                <a href="#" onclick="return deleteFactureEcheance({{liste.id}}) " title="supprimer" class="text-danger  fs-6"><i class="bi bi-trash"></i></a>
                                            {% endif %}
                                        </td>
                                        {% set status = constant('App\\Entity\\FactureEcheance::STATUS') %}
                                        <td> {{status[liste.status]}} </td>
                                        <td> {{liste.montant|number_format(0,',',' ')}} Ar </td>
                                        <td> {{liste.delaiPaiement}} jours </td>
                                        <td> {{liste.dateEcheance|date('d-m-Y')}} </td>
                                        <td> 
                                            {% if liste.dateReporter %}
                                                {{liste.dateReporter|date('d-m-Y')}}
                                            {% endif %}
                                         </td>
                                        <td> {{liste.reglement|number_format(0,',',' ')}} Ar </td>
                                        <td>
                                            {% if liste.isReporter == 1 %} 
                                            Oui
                                            {% else %}
                                            Non
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">Aucun enregistrement trouvé</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                      </div>
                 </div>
            </div>
        </div>
      </div>
      <div id="blockModalNewFactureEcheanceEmpty"></div>
      <div id="blockModalNewFactureEcheanceReporterEmpty"></div>
      <div id="blockModalAddFactureEcheanceEmpty"></div>
      <div id="blockModalUpdateFactureEcheanceEmpty"></div>
    </section>
  
<script>

    $(document).ready(function() {
            $('#tab-fiche-fournisseur').removeClass('active').empty();
            $('#tab-quantite-vendu').removeClass('active').empty();
            $('#tab-notification').removeClass('active').empty();
            $('#tab-historique-produit').removeClass('active').empty();
            $('#tab-historique-affaire').removeClass('active').empty();
            $('#tab-produit-date-peremption').removeClass('active').empty();
            $('#tab-stock').removeClass('active');
            $('#tab-inventaire-produit').css('display','none');

            $('.tab-categorie').removeClass('active');
            $('#tab-produit-categorie').removeClass('active');
            $('.tab-produit-categorie').removeClass('active');
            $('#tab-categorie').removeClass('active');
            $('.tab-import-produit').css('display', 'none');
            $('#tab-import-produit').css('display', 'none');


            $('.tab-user').removeClass('active');
            $('#tab-utilisateur').removeClass('active');

            $('.tab-permission').removeClass('active');
            $('.tab-privilege').removeClass('active');
            $('.tab-cat-permission').removeClass('active');
            $('#tab-categorie-permission').removeClass('active');
        
            $('#tab-dashboard').removeClass('active');
            $('#tab-profile').removeClass('active');
        
            $('#tab-permission').removeClass('active');
            $('#tab-privilege').removeClass('active');
            $('#tab-transfert-produit').css('display', 'none');
            $('#affaires_client').removeClass('active').empty();
            $('#affaires_fournisseur').removeClass('active').empty();
            $('#tab-info-affaire').removeClass('active').empty();
            $('#tab-financier-affaire').removeClass('active').empty();
            $('#tab-fiche-client').removeClass('active').empty();
        
            $('#tab-application').removeClass('active');
            $('#tab-profile').removeClass('active');
            $('#tab-compte_1').removeClass('active');
            $('#tab-compte_2').removeClass('active');
            $('#tab-produit-type').removeClass('active');
            $('.tab-produit-type').removeClass('active');
            $('#tab-import-produit').css('display', 'none');
            $('#tab-facture').css('display', 'none');
            $('#tab-facture-affaire').css('display', 'none');
            $('#tab-nouveau-facture').css('display','none');
            $('#tab-devis').css('display','none');
            $('#tab-commande').css('display','none');
            $('#tab-echeance').css('display','block');
            $('#tab-produit-image').removeClass('active');
            $('#tab-stock').removeClass('active');
            $('#tab-depot').css('display', 'none');
        $('#tab-comptabilite').css('display', 'none');
        $('#tab-vente').css('display', 'none');
        $('#tab-revenu').css('display', 'none');
         $('#tab-fourchette').css('display', 'none');
         $('#tab-ventes').css('display', 'none');
         $('#tab-avoir').css('display', 'none');
        $('#tab-caisse').css('display', 'none');
        $('#tab-depense-vente').css('display', 'none');
        $('#tab-comptabilite-vente').css('display', 'none');
        $('#tab-session').css('display', 'none');
        $('#tab-liste-vente').css('display', 'none');
        $('#tab-comptabilite-detail').css('display', 'none');
                $('#tab-comptabilite-liste').removeClass('active');



        });
        
    function openModalNewFactureEcheance(id = null) {
    var anchorName = document.location.hash.substring(1);

    $.ajax({
            url: '/admin/facture/echeance/facture/'+id,
            type: 'POST',
            data: {id: id},
            success: function (response) {
                if (response.html != "") {
                    $("#blockModalNewFactureEcheanceEmpty").empty();
                    $("#blockModalNewFactureEcheanceEmpty").append(response.html);

                    $('#modalNewFactureEcheance').modal('show');

                    if (anchorName) {
                        window.location.hash = anchorName;
                    }

                }
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Gérer l'erreur (par exemple, afficher un message d'erreur)
                alert('Erreur lors de l\'ajout de facture d\'écheance.');
            }
        });
}

    function openModalNewFactureEcheanceReporter(id = null) {
        var anchorName = document.location.hash.substring(1);

        $.ajax({
                url: '/admin/facture/echeance/facture/reporter/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        $("#blockModalNewFactureEcheanceReporterEmpty").empty();
                        $("#blockModalNewFactureEcheanceReporterEmpty").append(response.html);

                        $('#modalFactureEcheanceReporter').modal('show');

                        if (anchorName) {
                            window.location.hash = anchorName;
                        }

                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de facture d\'écheance.');
                }
            });
    }

    function openModalAddFactureEcheance(id = null) {
        var anchorName = document.location.hash.substring(1);
        $.ajax({
                url: '/admin/facture/echeance/nouveau/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        $("#blockModalAddFactureEcheanceEmpty").empty();
                        $("#blockModalAddFactureEcheanceEmpty").append(response.html);

                        $('#modalAddFactureEcheance').modal('show');

                        if (anchorName) {
                            window.location.hash = anchorName;
                        }

                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de facture d\'écheance.');
                }
            });
    }

    function openModalUpdateFactureEcheance(id = null) {
        var anchorName = document.location.hash.substring(1);
        $.ajax({
                url: '/admin/facture/echeance/edit/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        $("#blockModalUpdateFactureEcheanceEmpty").empty();
                        $("#blockModalUpdateFactureEcheanceEmpty").append(response.html);

                        $('#modalUpdateFactureEcheance').modal('show');

                        if (anchorName) {
                            window.location.hash = anchorName;
                        }

                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de mise à jour de facture d\'écheance.');
                }
            });
    }

    function deleteFactureEcheance(id = null) {
        var idFacture = $('.facture-id').data('facture');
        var anchorName = document.location.hash.substring(1);
        if (confirm('Voulez vous vraiment supprimer cette écheance?')) {
            $.ajax({
                url: '/admin/facture/echeance/delete/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    var nextLink = $('#sidebar').find('li#facture').find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Suppression effectuée');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                    if (anchorName) {
                        window.location.hash = anchorName;
                    }

                    showTabEcheance(idFacture);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la suppression d\'écheance.');
                }
            });
    
     }
    }


</script>
