        {% if type == "thead" %}
        <tr id="thead_compte" class="text-nowrap">
            <th><input type="checkbox" class="i-checks" name="selectAll" id="selectAll"></th>
            <th>Validation</th>
            <th>Actions</th>
            <th>PDF</th>
            <th>facture finale</th>
            <th>Date</th>
            <th>Type</th>
            <th>N°</th>
            <th>Compte</th>
            <th>Affaire</th>
            {# <th>Prix TTC</th> #}
            <th>Prix HT</th>
            <th>Règlement</th>
            <th>Statut</th>
            {# <th>Solde</th>
            <th>État</th>
            <th>Rémise</th> #}
        </tr>
        {% elseif type == "tbody" %}
        
        <tr class="text-nowrap {% if liste.statut == 'annule' %} bg-danger {% endif %}">
            <td>
                <input type="checkbox" class="i-checks" name="factureList[]" value="{{ liste.id }}">
            </td>
            <td>
                {% if liste.isValid == 0 %}
                <a style="cursor: pointer;"><i class="bi bi-x text-danger fs-4"></i></a>
                {% elseif liste.isValid == 1 %}
                <a style="cursor: pointer;"><i class="bi bi-check text-primary fs-4"></i></a>
                {% endif %}
            </td>
            <td class="d-flex align-items-center">
                <i class="bi bi-arrow-clockwise"></i>
                <div class="dropdown ms-2">
                    <a class="btn btn-outline-primary dropdown-toggle text-black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-list"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a style="cursor: pointer;" class="dropdown-item">Modifier</a></li>
                        <li><a style="cursor: pointer;" class="dropdown-item">Supprimer</a></li>
                    </ul>
                </div>
            </td>
            {% set filePath = '' %}
            {% if liste.file is not null %}
                {% if liste.statut == "regle" or liste.statut == "encours" %}
                    {% set filePath = 'uploads/APP_' ~ application.id ~'/factures/valide/' ~ liste.file %}
                {% elseif liste.statut == "annule" %}
                    {% set filePath = 'uploads/APP_' ~ application.id ~'/factures/annule/' ~ liste.file %}
                {% endif %}
            {% endif %}

            <td>
                {% if file_exists(filePath) %}
                    <a href="{{filePath}}" target="_blank" class="text-danger fs-4"><i class="bi bi-file-pdf-fill"></i></a>
                {% endif %}
            </td>
            <td>
                {% set factureEcheance = factureEcheanceData[liste.id] %}
                {% set url = '' %}
                {% if factureEcheance is not null %}
                    {% set url = 'uploads/APP_' ~ application.id ~'/factures/echeance/' ~ factureEcheance.file %}

                    {% if file_exists(url) and factureEcheance.status == "regle" %}
                        <a href="{{url}}" target="_blank" class="text-danger fs-4"><i class="bi bi-file-pdf-fill"></i></a>
                    {% endif %}
                {% endif %}
            </td>
            <td> {{liste.dateCreation|date('d/m/Y')}} </td>
            <td> {{liste.type}} </td>
            <td> 
                {% if liste.isEcheance is not null and liste.isEcheance == true %} 
                    {{liste.numero}} Echéance n°{{liste.echeanceNumero}} 
                {% elseif liste.isDepot is not null and liste.isDepot == true %}
                    {{liste.numero}} Dépôt n°{{liste.depotNumero}} 
                {% else %} 
                    {{liste.numero}} 
                {% endif %} 
            </td>
            <td> <a href="{{path('affaires_liste_affaire_from_facture', {'compte': liste.compteId})}}" title="Pdf">
                            {{liste.compte}}
                        </a> </td>
            <td>  <a href="{{path('affaires_financier_from_other_page', {'affaire': liste.affaireId})}}" title="Pdf">
                            {{liste.affaire}}
                        </a></td>
            {# <td> {{liste.prixTtc|number_format(2, ',', ',')}} Ar </td> #}
            <td>{{liste.prixHt|number_format(0, ',', ' ')}} Ar</td>
            <td> {{liste.reglement|number_format(0, ',', ' ')}} Ar </td>
            {% set statutPaiement = constant('App\\Entity\\Facture::STATUT') %}
            <td> {{statutPaiement[liste.statut]}} </td>
            {# <td> {{liste.solde}} </td> #}
                {% set etat = constant('App\\Entity\\Facture::ETAT') %}
            {# <td> {{etat[liste.etat]}} </td> #}
            {# <td> {{liste.remise}} </td> #}
        </tr>
        
         {% endif %}
  {% block javascripts %}
      <script>
    $(document).ready(function() {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                //radioClass: 'iradio_square-green'
            });

            $("input[name='selectAll']").on('ifChanged', function () {
                    console.log("ici");
                            var _this = jQuery(this);

                            if (_this.is(':checked')) {
                                $("input[name^='factureList']").each(function (index) {
                                    $(this).iCheck('check');
                                });
                            } else {
                                $("input[name^='factureList']").each(function (index) {
                                    $(this).iCheck('uncheck');
                                });
                            }
                        });

});
</script>
<script>

    function deleteCompte(id = null, genre = 1) {
    var anchorName = document.location.hash.substring(1);

        let currentCompte = "clients";
        let titleCompte = "client";
        if (genre == 2) {
            currentCompte = "fournisseur";
            titleCompte = "fournisseur";
        }
        if (confirm('Voulez vous vraiment supprimer cet '+titleCompte+'?')) {
            $.ajax({
                url: '/admin/comptes/delete/'+id,
                type: 'POST',
                data: {category: id},
                success: function (response) {
                    let currentCompte = "clients";
                    if (genre == 2) {
                        currentCompte = "fournisseur";
                    }
                    var nextLink = $('#sidebar').find('li#'+currentCompte).find('a');
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 1000
                        };
                        toastr.success('Avec succèss', 'Suppression effectuée');

                        //$(".loadBody").css('display', 'none');

                    }, 800);
                    if (nextLink.length > 0) {
                        nextLink.click();
                    }
                    if (anchorName) {
                        window.location.hash = anchorName;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la suppression de la compte.');
                }
            });
        }
    }

    function openModalUpdatecompte(id = null, genre = 1) {
    var anchorName = document.location.hash.substring(1);

        $.ajax({
                url: '/admin/comptes/'+id,
                type: 'POST',
                data: {id: id},
                success: function (response) {
                    if (response.html != "") {
                        let currentCompte = "modalUpdateClient";
                        if (genre == 2) {
                            currentCompte = "modalUpdateFournisseur";
                        }
                        $("#blocModalCompteEmpty").empty();
                        $("#blocModalCompteEmpty").append(response.html);

                        $('#'+currentCompte).modal('show');
                    }

                    if (anchorName) {
                        window.location.hash = anchorName;
                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de la mise à jour de la compte.');
                }
            });
    }

</script>
{% endblock %}