<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalNewLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="modal-header modal-header-center">
                <h5 class="modal-title fw-bold " id="modalNewLabel">Connectez-vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="login-content p-5" style="border: 1px solid #1d7154;">
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endfor %}
                    {{form_start(form)}}
                    {% if error %}
                        <div class="alert alert-danger">Le nom d'utilisateur ou le mot de passe n'est pas valide</div>
                    {% endif %}
                    
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                          <span class="input-group-text" style="border-right: none; border-radius: 0.2rem 0 0 0.2rem; background-color: #fff;">
                              <i class="fas fa-envelope" style="height: 24px; padding-top: 5px;"></i>
                          </span>
                      </div>
                  {{form_widget(form.email)}}
                  </div>
                
                  <div class="input-group mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="border-right: none; border-radius: 0.2rem 0 0 0.2rem; background-color: #fff;">
                                <i class="fas fa-lock" style="height: 24px; padding-top: 5px;"></i>
                            </span>
                        </div>
                        {{ form_widget(form.password, {'attr': {'aria-describedby': 'loginPassword-toggle'}}) }}
                        <button class="btn btn-outline-secondary btn-eye text-black bg-white" type="button" id="loginPassword-toggle" aria-label="Toggle password visibility" style="height: 40px; margin-top: -1px;">
                            <i class="bi bi-eye-slash text-"></i>
                        </button>
                    </div>
                </div>
                    
                    <input type="hidden" name="_csrf_token"
                          value="{{ csrf_token('authenticate') }}">
                
                    <div class="text-center pt-1 mb-4 pb-1">
                      <button class=" btn btn-primary mb-4 btn-md btn-submit" type="submit">
                         Se Connecter
                      </button><br/>
                      {# <a class="text-black" href="{{path('forgotten_password_admin')}}">Mot de passe oublié</a> #}
                    </div>
                  {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#loginPassword-toggle').click(function() {
            togglePasswordVisibility($('#login_form_password'));
        });
        
    });

    function togglePasswordVisibility(passwordField) {
        var fieldType = passwordField.attr('type');
        
        if (fieldType === 'password') {
            passwordField.attr('type', 'text');
            $('.btn-eye i').removeClass('bi-eye-slash').addClass('bi-eye');
        } else {
            passwordField.attr('type', 'password');
            $('.btn-eye i').removeClass('bi-eye').addClass('bi-eye-slash');
        }
    }
</script>